﻿@model sambocappweb.ViewModels.BlogPostViewModel
@{
    ViewBag.Title = "MISTEAMS";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <!-- Carousel -->
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        @{bool a = true;}
                        @foreach (var item in Model.BlogPosts)
                        {
                            if (a == true)
                            {
                                if (Request.Cookies["Language"].Value == "ca")
                                {
                                    <div class="item active">
                                        <a href="/news/@item.Id">
                                            <img src="~/Uploads/@item.Thumbnail" alt="@item.Thumbnail" style="width:100%;">
                                            <div class="carousel-caption" style="background: #000; opacity: 0.75;">
                                                <b>@item.TitleKh</b>
                                            </div>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="item active">
                                        <a href="/news/@item.Id">
                                            <img src="~/Uploads/@item.Thumbnail" alt="@item.Thumbnail" style="width:100%;">
                                            <div class="carousel-caption" style="background: #000; opacity: 0.75;">
                                                <b>@item.Title</b>
                                            </div>
                                        </a>
                                    </div>
                                }
                                a = false;
                            }
                            else
                            {
                                if (Request.Cookies["Language"].Value == "ca")
                                {
                                    <div class="item">
                                        <a href="/news/@item.Id">
                                            <img src="~/Uploads/@item.Thumbnail" alt="@item.Thumbnail" style="width:100%;">
                                            <div class="carousel-caption" style="background: #000; opacity: 0.75;">
                                                <b>@item.TitleKh</b>
                                            </div>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="item">
                                        <a href="/news/@item.Id">
                                            <img src="~/Uploads/@item.Thumbnail" alt="@item.Thumbnail" style="width:100%;">
                                            <div class="carousel-caption" style="background: #000; opacity: 0.75;">
                                                <b>@item.Title</b>
                                            </div>
                                        </a>
                                    </div>
                                }
                            }
                        }

                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- News Section -->
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <div class="panel panel-default" style="margin-bottom: 0;">
                    <div class="panel-heading" id="blogPanelHeading">
                        <h3 class="panel-title" id="blogPanelTitle">@(Request.Cookies["Language"].Value == "ca" ? "ព័ត៌មាន និងព្រឹត្តិការណ៍" : "News and Events")</h3>
                    </div>
                    <div class="panel-body">
                        <div class="products-view-all">
                            <form class="post-list">
                                <input type="hidden" value="">
                            </form>

                            <div class="clearfix">
                                <div class="pagination-container clearfix"><br class="clear"></div>
                                <div class="pagination-nav pull-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        @Html.Partial("_WidgetBlog")
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/Blog/homepage.js")
}
