﻿@*@model sambocappweb.ViewModels.JobViewModel*@
@using sambocappweb.Resources
@{
    ViewBag.Title = "AMS";
}
@{
    string badge = " ";

    if (badge == "0")
    {

    }
    int Countcustomer= (int)ViewBag.Countcustomer;
    int CountPro=(int)ViewBag.CountPro;
    int Count = (int)ViewBag.Count;
    int Countaddvertise = (int)ViewBag.Countaddvertise;
    int Countorder = (int)ViewBag.Countorder;

}
<link href="~/Content/Layout/css/dashboard.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link href="~/Content/Layout/css/table.css" rel="stylesheet" />
<div class="row ">

  
    <div class="col co-md-3">
        <a href="@Url.Action("Index", "Shops")" style="text-decoration:none;background-color:aqua">
            <div class="center">
                @if (Count != 0)
                {
                    <span class="pull-right badge" id="badge">@Count</span>
                }
                
                <h1 class="font-light text-white" style="font-size:90px;text-align:center"><i class="bi bi-shop"></i></h1>
                <div class="bottom1">
                    <h5>SHOP : @ViewBag.CountN</h5>
                </div>
            </div>
        </a>

    </div>

    <div class="col co-md-3 ">
        <a href="@Url.Action("Index", "Products")" style="text-decoration:none;background-color:aqua">
            <div class="center">
                @if (CountPro != 0)
                {
                    <span class="pull-right badge" id="badge">@CountPro</span>
                }

                <h1 class="font-light text-white" style="font-size:90px;text-align:center"><i class="bi bi-cart-plus"></i></h1>
                <div class="bottom1">
                    <h5>PRODUCT : @ViewBag.CountProN</h5>
                </div>
            </div>
        </a>

    </div>
    <div class="col co-md-3 ">
        <a href="@Url.Action("Index", "Banners")" style="text-decoration:none;background-color:aqua">
            <div class="center">
                @if (Countaddvertise != 0)
                {
                    <span class="badge pull-right"></span>
                }
                <h1 class="font-light text-white" style="font-size:90px;text-align:center"><i class="bi bi-cart4"></i></h1>
                <div class="bottom1">
                    <h5>BANNER : @ViewBag.CountAdd</h5>
                </div>
            </div>
        </a>

    </div>
    <div class="col co-md-3 ">
        <a href="@Url.Action("Index", "Orders")" style="text-decoration:none;background-color:aqua">
            <div class="center">
                @if (Countorder != 0)
                {
                    <span class="badge pull-right">@Countorder</span>
                }
                <h1 class="font-light text-white" style="font-size:90px;text-align:center"><i class="bi bi-command"></i></h1>
                <div class="bottom1">
                    <h5>ORDER : @ViewBag.CountorderN</h5>
                </div>
            </div>
        </a>

    </div>

    <div class="col co-md-3 ">
        <a href="@Url.Action("Index", "Customers")" style="text-decoration:none;background-color:aqua">
            <div class="center">

                @if (Countcustomer != 0)
                {
                    <span class="badge pull-right">@Countcustomer</span>
                }
                <h1 class="font-light text-white" style="font-size:90px;text-align:center"><i class="bi bi-person-circle" style="margin-top:15px;"></i></h1>
                <div class="bottom1">
                    <h5>CUSTOMER : @ViewBag.CountcustomerN</h5>
                </div>
            </div>
        </a>

    </div>

</div>



@*const badge = document.getElementById(".badge").value;
        if (badge.value == 0) document.body.classList.remove("badge");
        else document.body.classList.add("badge");*@