﻿@using sambocappweb.Resources
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Layout/css/table.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <button class="btn btn-success btn-xs pull-right" id="btnModalAdd" type="button" data-toggle="modal" data-target="#Addmoreimages" style='margin-right:5px'>
                <span class="glyphicon glyphicon-cog"></span>
                @Language.ProductImage
            </button>
            <h3 class="panel-title">@Language.ProductManagement</h3>
        </div>
        <div class="panel-body" style="overflow-x:auto;">
            <div class="panel-body" style="overflow-x:auto;">
                <table class="table table-hover table-bordered" id="uplaodimageTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>@Language.Id</th>
                            <th>@Language.ProductName</th>
                            <th>@Language.Name </th>
                            <th>@Language.ImageThumbnail</th>
                            <th>@Language.Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_AddMoreImages")
@section scripts
    {
        @Scripts.Render("~/Scripts/Functions/ProductImage.js")
    }
