﻿@model sambocappweb.ViewModels.ContractViewModel

@{
    ViewBag.Title = "Manage Contract";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divLoadingModal"></div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h5 class="panel-title">@sambocappweb.Resources.Language.Contract</h5>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <button data-toggle="modal" data-target="#caseModal" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-cog"></span> @sambocappweb.Resources.Language.Buyer</button>
                <button data-toggle="modal" data-target="#casetypeModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-cog"></span> @sambocappweb.Resources.Language.Sellter</button>
                <button data-toggle="modal" data-target="#defendentModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-cog"></span> @sambocappweb.Resources.Language.Lawyer</button>
                <button data-toggle="modal" data-target="#plaintiffModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-cog"></span> @sambocappweb.Resources.Language.Depute</button>
                <button style="margin-right: 5px;" data-toggle="modal" data-target="#civilcaseModal" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-cog"></span> @sambocappweb.Resources.Language.NewContract</button>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-12">
                <div id="overflowTable" style="overflow-x: auto;">
                    <table id="civilcaseTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                        <thead>
                            <tr>
                                @*<th>@sambocappweb.Resources.Language.Id</th>
                                <th>@sambocappweb.Resources.Language.Publication</th>
                                <th>@sambocappweb.Resources.Language.Publication (KH)</th>
                                <th>@sambocappweb.Resources.Language.PublicationType</th>
                                <th>@sambocappweb.Resources.Language.PublishedBy</th>
                                <th>@sambocappweb.Resources.Language.Date</th>
                                <th>@sambocappweb.Resources.Language.Action</th>*@
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Case")
@Html.Partial("_CaseType")
@Html.Partial("_Lawyer")
@Html.Partial("_Plaintiff")
@Html.Partial("_Defendent")


@section scripts
{
    @Scripts.Render("~/Scripts/Functions/case.js")
    @Scripts.Render("~/Scripts/Functions/casetype.js")
    @Scripts.Render("~/Scripts/Functions/lawyer.js")
    @Scripts.Render("~/Scripts/Functions/plaintiff.js")
    @Scripts.Render("~/Scripts/Functions/defendent.js")
}
   
