﻿

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="invitationEditModal" tabindex="-1" role="dialog" aria-labelledby="invitationEditModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <div id="divLoadingModal"></div>

        <div class="modal-content">
            <div class="panel panel-primary" style="margin-bottom: 0;">
                <div class="panel-heading">
                    <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                    <h5 class="modal-title">@sambocappweb.Resources.Language.GenerateInvitationLetter</h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <input id="invitationIdEdit" name="invitationIdEdit" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="invitationFromEdit">@sambocappweb.Resources.Language.InvitationLetterOf</label>
                                <select class="form-control input-sm" id="invitationFromEdit">
                                    @foreach (var civilServant in Model.CivilServants)
                                    {
                                        <option value=@civilServant.Id>@civilServant.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="invitationToEdit">@sambocappweb.Resources.Language.InvitationLetterTo</label>
                                <select id="invitationToEdit" data-placeholder="   --- Select Here ---" class="form-control input-sm" multiple style="width:350px;" tabindex="4">
                                    @foreach (var civilServant in Model.CivilServants)
                                    {
                                        <option value=@civilServant.Id>@civilServant.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="invitationObjectiveEdit">@sambocappweb.Resources.Language.Objective</label>
                                <input id="invitationObjectiveEdit" name="invitationObjectiveEdit" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="invitationReferenceEdit">@sambocappweb.Resources.Language.Reference</label>
                                <textarea id="invitationReferenceEdit" rows="2" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="invitationContentEdit">@sambocappweb.Resources.Language.Content</label>
                                <textarea id="invitationContentEdit" rows="14" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btnUpdateInvitation" class="btn btn-primary btn-block btn-sm"><span class="glyphicon glyphicon-floppy-save"></span> <span class="kh">រក្សាទុក</span> / Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

