﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="invitationModal" tabindex="-1" role="dialog" aria-labelledby="invitationModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <div id="divLoadingModal"></div>

        <div class="modal-content">

            <div class="panel panel-primary" style="margin-bottom: 0;">
                <div class="panel-heading">
                    <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                    <h5 class="modal-title">@sambocappweb.Resources.Language.GenerateInvitationLetter</h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <input id="invitationId" name="invitationId" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="invitationFrom">@sambocappweb.Resources.Language.InvitationLetterOf</label>
                                <select class="form-control input-sm" id="invitationFrom">
                                    @foreach (var civilServant in Model.CivilServants)
                                    {
                                        <option value=@civilServant.Id>@civilServant.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="invitationTo">@sambocappweb.Resources.Language.InvitationLetterTo</label>
                                <select id="invitationTo" data-placeholder="   --- Select Here ---" class="form-control input-sm" multiple style="width:350px;" tabindex="4">
                                    @foreach (var civilServant in Model.CivilServants)
                                    {
                                        <option value=@civilServant.Id>@civilServant.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="invitationObjective">@sambocappweb.Resources.Language.Objective <a href="javascript:void(0);" data-toggle="collapse" data-target="#objectiveInvitationExample"><span class="help">?</span></a></label>
                                <div id="objectiveInvitationExample" class="collapse">
                                    <hr />
                                    <span class="glyphicon glyphicon-certificate"></span> @sambocappweb.Resources.Language.Sample:
                                    <ul>
                                        <li class="MEF1">សំណើសុំអញ្ជើញមន្ត្រី ០១រូប ចូលរួមសិក្ខាសាលាផ្សព្វផ្សាយស្តីពី ការពិភាក្សានិងចែករំលែកចំណេះដឹងរៀបចំសិ្ថតិហិរញ្ញវត្ថុរដ្ឋាភិបាល (GFS) នៅទីស្តីការក្រសួងសេដ្ឋកិច្ច និងហិរញ្ញវត្ថុ</li>
                                        <li class="MEF1">សំណើសុំអញ្ជើញចូលរួម ឬចាត់តំណាងចូលរួមកិច្ចប្រជុំដើម្បីពិភាក្សា​លើសេចក្ដីព្រាង​ច្បាប់ស្ដីពីរបបសន្ដិសុខសង្គម</li>
                                    </ul>
                                </div>
                                <input id="invitationObjective" name="invitationObjective" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="invitationReference">@sambocappweb.Resources.Language.Reference <a href="javascript:void(0);" data-toggle="collapse" data-target="#referenceInvitationExample"><span class="help">?</span></a></label>
                                <div id="referenceInvitationExample" class="collapse">
                                    <hr />
                                    <span class="glyphicon glyphicon-certificate"></span> @sambocappweb.Resources.Language.Sample:
                                    <ul>
                                        <li class="MEF1">ចំណារឯកភាពដ៍ខ្ពង់ខ្ពស់របស់​ <span class="MEF2">ឯកឧត្តមអគ្គបណ្ឌិតសភាចារ្យ ឧបនាយករដ្ឋមន្ត្រី</span> ចុះថ្ងៃទី១៧ ខែកក្កដា ឆ្នាំ២០១៩</li>
                                        <li class="MEF1">ស្មារតីអង្គប្រជុំកាលពីថ្ងៃទី៣ ខែធ្នូ ឆ្នាំ២០១៨</li>
                                    </ul>
                                </div>
                                <textarea id="invitationReference" rows="2" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="invitationContent">@sambocappweb.Resources.Language.Content</label>
                                <textarea id="invitationContent" rows="14" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btnSaveInvitation" class="btn btn-primary btn-block btn-sm"><span class="glyphicon glyphicon-floppy-save"></span> <span class="kh">រក្សាទុក</span> / Save</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

