﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="reportTypeModal" tabindex="-1" role="dialog" aria-labelledby="reportTypeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div id="divLoadingModal"></div>

        <div class="modal-content">

            <div class="panel panel-primary" style="margin-bottom: 0;">
                <div class="panel-heading">
                    <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                    <h5 class="modal-title">@sambocappweb.Resources.Language.ManageReportType</h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <input id="reportTypeId" name="reportTypeId" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="reportType">@sambocappweb.Resources.Language.ReportType</label>
                                <input id="reportType" name="reportType" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btnReportTypeAction" onclick="onReportTypeAction()" class="btn btn-primary btn-block btn-sm"><span class="glyphicon glyphicon-floppy-save"></span> <span class="kh">រក្សាទុក</span> / Save</button>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-md-12">
                            <table id="reportTypeTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>@sambocappweb.Resources.Language.ReportType</th>
                                        <th>@sambocappweb.Resources.Language.Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

