﻿<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <button data-toggle="modal" data-target="#reportModal" class="btn btn-primary btn-block btn-sm pull-right"><span class="glyphicon glyphicon-file"></span> @sambocappweb.Resources.Language.GenerateReport</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <table id="reportTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>@sambocappweb.Resources.Language.Report</th>
                            <th>@sambocappweb.Resources.Language.Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>