﻿

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="reportEditModal" tabindex="-1" role="dialog" aria-labelledby="reportEditModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <div id="divLoadingModal"></div>

        <div class="modal-content">

            <div class="panel panel-primary" style="margin-bottom: 0;">
                <div class="panel-heading">
                    <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                    <h5 class="modal-title">@sambocappweb.Resources.Language.GenerateReport</h5>
                </div>
                <div class="panel-body">
                    
                    <div class="row">
                        <input id="reportIdEdit" name="reportIdEdit" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fromEdit">@sambocappweb.Resources.Language.ReportOf</label>
                                @*<select class="form-control input-sm" id="fromEdit">
                                    @foreach (var civilServant in Model.CivilServants)
                                    {
                                        <option value=@civilServant.Id>@civilServant.Name</option>
                                    }
                                </select>*@
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="toEdit">@sambocappweb.Resources.Language.AttentionTo</label>
                                @*<select class="form-control input-sm" id="toEdit">
                                    @foreach (var civilServant in Model.CivilServants)
                                    {
                                        <option value=@civilServant.Id>@civilServant.Name</option>
                                    }
                                </select>*@
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="reportTypeIdsEdit">@sambocappweb.Resources.Language.ReportType</label>
                                <select class="form-control input-sm" id="reportTypeIdsEdit">
                                    @foreach (var reportType in Model.ReportTypes)
                                    {
                                        <option value=@reportType.Id>@reportType.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="viaEdit">@sambocappweb.Resources.Language.Through</label>
                                <textarea id="viaEdit" rows="2" class="form-control MEF1"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="objectiveEdit">@sambocappweb.Resources.Language.Objective</label>
                                <input id="objectiveEdit" name="objectiveEdit" placeholder="" type="text" value="" class="form-control input-sm MEF1" style="min-width: 100%" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="referenceEdit">@sambocappweb.Resources.Language.Reference</label>
                                <textarea id="referenceEdit" rows="2" class="form-control MEF1"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="contentEdit">@sambocappweb.Resources.Language.Content</label>
                                <textarea id="contentEdit" rows="14" class="form-control MEF1"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="durationEdit">@sambocappweb.Resources.Language.Duration</label>
                                <input id="durationEdit" name="durationEdit" min="1" max="1000" placeholder="" type="number" value="1" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="reportStartDateEdit" id="reportStartDateLabel">@sambocappweb.Resources.Language.From</label>
                                <input type="text" id="reportStartDateEdit" class="form-control input-sm js-date" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="reportEndDateEdit" id="reportEndDateLabelEdit">@sambocappweb.Resources.Language.To</label>
                                <input type="text" id="reportEndDateEdit" class="form-control input-sm js-date" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="locationEdit">@sambocappweb.Resources.Language.Location</label>
                                <input id="locationEdit" name="locationEdit" placeholder="" type="text" value="" class="form-control input-sm MEF1" style="min-width: 100%" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btnUpdateReport" class="btn btn-primary btn-block btn-sm"><span class="glyphicon glyphicon-floppy-save"></span> <span class="kh">រក្សាទុក</span> / Save</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

