﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <div id="divLoadingModal"></div>

        <div class="modal-content">

            <div class="panel panel-primary" style="margin-bottom: 0;">
                <div class="panel-heading">
                    <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                    <h5 class="modal-title">@sambocappweb.Resources.Language.GenerateReport</h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <input id="reportId" name="reportTypeId" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="from">@sambocappweb.Resources.Language.ReportOf</label>
                                @*<select class="form-control input-sm" id="from">
                                    @foreach (var civilServant in Model.CivilServants)
                                    {
                                        <option value=@civilServant.Id>@civilServant.Name</option>
                                    }
                                </select>*@
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="to">@sambocappweb.Resources.Language.AttentionTo</label>
                                @*<select class="form-control input-sm" id="to">
                                    @foreach (var civilServant in Model.CivilServants)
                                    {
                                        <option value=@civilServant.Id>@civilServant.Name</option>
                                    }
                                </select>*@
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="reportTypeIds">@sambocappweb.Resources.Language.ReportType</label>
                                <select class="form-control input-sm" id="reportTypeIds">
                                    @foreach (var reportType in Model.ReportTypes)
                                    {
                                        <option value=@reportType.Id>@reportType.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="via">@sambocappweb.Resources.Language.Through <a href="javascript:void(0);" data-toggle="collapse" data-target="#viaExample"><span class="help">?</span></a></label>
                                <div id="viaExample" class="collapse">
                                    <hr />
                                    <span class="glyphicon glyphicon-certificate"></span> @sambocappweb.Resources.Language.Sample:
                                    <ul>
                                        
                                    </ul>
                                </div>
                                <textarea id="via" rows="2" class="form-control MEF1"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="objective">@sambocappweb.Resources.Language.Objective <a href="javascript:void(0);" data-toggle="collapse" data-target="#objectiveExample"><span class="help">?</span></a></label>
                                <div id="objectiveExample" class="collapse">
                                    <hr />
                                    <span class="glyphicon glyphicon-certificate"></span> @sambocappweb.Resources.Language.Sample:
                                    <ul>
                                        <li class="MEF1">សកម្មភាព និងវឌ្ឍនភាពការងារប្រចាំឆមាសទី១នៃឆ្នាំ២០១៩ របស់អគ្គលេខាធិការដ្ឋានក្រុមប្រឹក្សាជាតិគាំពារសង្គម</li>
                                        <li class="MEF1">បទបង្ហាញលើលទ្ធផលនៃការសិក្សាកម្មវិធីឧបត្ថម្ភសាច់ប្រាក់ជូនស្រ្តីមានផ្ទៃពោះ និង កុមារអាយុក្រោយ២ឆ្នាំ</li>
                                        <li class="MEF1">ការចុះសិក្សា និងសង្កេតដោយផ្ទាល់ពីកម្មវិធីជំនួយសង្គមនៅខេត្តត្បូងឃ្មុំ</li>
                                        <li class="MEF1">សិក្ខាសាលាផ្សព្វផ្សាយសមិទ្ធផលនៃគម្រោងសេវាសុខភាព​ដោយគុណភាព និងគម្រោងគាំពារសុខភាពសង្គមនៃភ្នាក់ងារUS ដើម្បីកិច្ចអភិវឌ្ឍន៍អន្ដរជាតិ ២០១៤-២០១៩</li>
                                    </ul>
                                </div>
                                <input id="objective" name="objective" placeholder="" type="text" value="" class="form-control input-sm MEF1" style="min-width: 100%" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="reference">@sambocappweb.Resources.Language.Reference <a href="javascript:void(0);" data-toggle="collapse" data-target="#referenceExample"><span class="help">?</span></a></label>
                                <div id="referenceExample" class="collapse">
                                    <hr />
                                    <span class="glyphicon glyphicon-certificate"></span> @sambocappweb.Resources.Language.Sample:
                                    <ul>
                                        <li class="MEF1">ចំណារឯកភាពដ៏ខ្ពង់ខ្ពស់របស់សម្តេចអគ្គមហាសេនាបតីតេជោ​ <span class="MEF2">ហ៊ុន សែន​</span> នាយករដ្ឋមន្ត្រីនៃព្រះរាជាណាចក្រកម្ពុជា ចុះថ្ងៃទី១២​ ខែកុម្ភៈ ឆ្នាំ២០១៩</li>
                                        <li class="MEF1">ចំណារឯកភាពដ៏ខ្ពង់ខ្ពស់របស់​ <span class="MEF1" style="font-weight: bold;">ឯកឧត្តមអគ្គបណ្ឌិតសភាចារ្យ ឧបនាយករដ្ឋមន្ត្រី</span> ចុះថ្ងៃទី២៧ ខែមីនា ឆ្នាំ២០១៩</li>
                                        <li class="MEF1">ចំណារឯកភាពដ៏ខ្ពង់ខ្ពស់របស់​លោកជំទាវរដ្ឋលេខាធិការ ចុះថ្ងៃទី០៩ ខែឧសភា ឆ្នាំ២០១៩</li>
                                        <li class="MEF1">លិខិតអញ្ជើញ ចុះថ្ងៃទី០៧ ខែមីនា ឆ្នាំ២០១៩ របស់អង្គការស្បៀង និងកសិកម្មនៃសហប្រជាជាតិប្រចាំកម្ពុជា (FAO)</li>
                                        <li class="MEF1">លិខិតអញ្ជើញលេខ០០៩ សនក ចុះថ្ងៃទ២០៧ ខែឧសភា ឆ្នាំ២០១៩ របស់ក្រសួងសុខាភិបាល</li>
                                        <li class="MEF1">លិខិតលេខ៤២១ អហវ.អល ចុះថ្ងៃទី២៧ ខែមិថុនា ឆ្នាំ២០១៩ របស់អគ្គលេខាធិការដ្ឋានក្រុមប្រឹក្សាជាតិគាំពារសង្គម</li>
                                        <li class="MEF1">លិខិតបញ្ជាបេសកកម្មលេខ១៤០៦ សហវ ចុះថ្ងៃទី០៣ ខែឧសភា ឆ្នាំ២០១៩</li>
                                    </ul>
                                </div>
                                <textarea id="reference" rows="2" class="form-control MEF1"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="content">@sambocappweb.Resources.Language.Content</label>
                                <textarea id="content" rows="14" class="form-control MEF1"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="duration">@sambocappweb.Resources.Language.Duration</label>
                                <input id="duration" name="duration" min="1" max="1000" placeholder="" type="number" value="1" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="reportStartDate" id="reportStartDateLabel">@sambocappweb.Resources.Language.From</label>
                                <input type="text" id="reportStartDate" class="form-control input-sm js-date" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="reportEndDate" id="reportEndDateLabel">@sambocappweb.Resources.Language.To</label>
                                <input type="text" id="reportEndDate" class="form-control input-sm js-date" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="location">@sambocappweb.Resources.Language.Location <a href="javascript:void(0);" data-toggle="collapse" data-target="#locationExample"><span class="help">?</span></a></label>
                                <div id="locationExample" class="collapse">
                                    <hr />
                                    <span class="glyphicon glyphicon-certificate"></span> @sambocappweb.Resources.Language.Sample:
                                    <ul>
                                        <li class="MEF1">នៅទីក្រុងបាងកក ប្រទេសថៃ</li>
                                        <li class="MEF1">នៅខេត្តត្បូងឃ្មុំ</li>
                                        <li class="MEF1">នៅភោជនិយដ្ឋានទន្លេបាសាក់២</li>
                                    </ul>
                                </div>
                                <input id="location" name="location" placeholder="" type="text" value="" class="form-control input-sm MEF1" style="min-width: 100%" />
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btnSaveReport" class="btn btn-primary btn-block btn-sm"><span class="glyphicon glyphicon-floppy-save"></span> <span class="kh">រក្សាទុក</span> / Save</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>







