﻿@model sambocappweb.ViewModels.AdminFormatViewModel
@using ReportViewerForMvc;

@{
    ViewBag.Title = "Administrive Format Generator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divLoadingModal"></div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <div class="row">
                    <div class="col-md-6">
                        <p class="panel-title">@sambocappweb.Resources.Language.AdminFormat</p>
                    </div>
                    <div class="col-md-6">
                        <div class="dropdown pull-right">
                            <p class="dropdown-toggle" type="button" data-toggle="dropdown" style="cursor: pointer;">
                                <span class="glyphicon glyphicon-cog"></span> @sambocappweb.Resources.Language.Setting
                                <span class="caret"></span>
                            </p>
                            <ul class="dropdown-menu">
                                <li><a href="#" data-toggle="modal" data-target="#civilServantModal">@sambocappweb.Resources.Language.ManageCivilServantsInformation</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#rankModal">@sambocappweb.Resources.Language.ManageRankInformation</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#reportTypeModal">@sambocappweb.Resources.Language.ManageReportType</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-5">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="#report" id="reportTab" data-toggle="tab" style="padding: 5px 15px;">@sambocappweb.Resources.Language.Report</a>
                            </li>
                            <li>
                                <a href="#principle" id="principleTab" data-toggle="tab" style="padding: 5px 15px;">@sambocappweb.Resources.Language.Principle</a>
                            </li>
                            <li>
                                @*<a href="#invitation" id="invitationTab" data-toggle="tab" style="padding: 5px 15px;">@sambocappweb.Resources.Language.InvitationLetter</a>*@
                            </li>
                            @*<li>
                                <a href="#payment" id="paymentTab" data-toggle="tab" style="padding: 5px 15px;">ទូទាត់</a>
                            </li>*@
                        </ul>
                        <hr />
                        <div class="tab-content">
                            <div id="report" class="tab-pane fade in active">
                                @Html.Partial("_Report")
                            </div>
                            <div id="principle" class="tab-pane fade">
                                @Html.Partial("_Principle")
                            </div>
                            <div id="invitation" class="tab-pane fade">
                                @Html.Partial("_Invitation")
                            </div>
                            @*<div id="payment" class="tab-pane fade">
                                payment
                            </div>*@
                        </div>
                    </div>
                    <div class="col-md-7">
                        @*<div class="row">
                            <div class="col-md-12">
                                <span id="letterHeadNote" style="color: darkblue;"></span>
                            </div>
                        </div>
                        <hr />*@
                        <div class="row">
                            <div class="col-md-12">
                                @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { @style = "width: 100%; height: 100%" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_RankModal")
@Html.Partial("_CivilServantModal")
@Html.Partial("_ReportTypeModal")
@Html.Partial("_ReportModal")
@Html.Partial("_ReportEditModal")
@Html.Partial("_InvitationModal")
@Html.Partial("_InvitationEditModal")
@Html.Partial("_PrincipleModal")
@Html.Partial("_PrincipleEditModal")

@section scripts
{
    @Scripts.Render("~/Scripts/Functions/rank.js")
    @Scripts.Render("~/Scripts/Functions/civilservant.js")
    @Scripts.Render("~/Scripts/Functions/reporttype.js")
    @Scripts.Render("~/Scripts/Functions/report.js")
    @Scripts.Render("~/Scripts/Functions/invitation.js")
    @Scripts.Render("~/Scripts/Functions/principle.js")
    @*<script src="~/Scripts/Tinymce/tinymce.min.js"></script>*@

    <script type="text/javascript">

        $(document).ready(function () {
            $(document).ajaxStart(function () {
                Pace.start();
                $("div#divLoadingModal").addClass('show');
            }).ajaxStop(function () {
                Pace.stop();
                $("div#divLoadingModal").removeClass('show');
            });

            //tinymce.init({
            //    selector: '#content,#contentEdit',
            //    relative_urls: false,
            //    remove_script_host: false,
            //    convert_urls: true,
            //    width: '100%',
            //    height: 800,
            //    theme: 'modern',
            //    plugins: [
            //     "advlist autolink link image lists charmap print preview hr anchor pagebreak",
            //     "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
            //     "table contextmenu directionality emoticons paste textcolor code"
            //    ],
            //    toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
            //    toolbar2: "link unlink anchor | image media | forecolor backcolor  | print preview code | caption",
            //    image_caption: true,
            //    image_advtab: true,
            //});

            onGetReportTab();

            $('#reportModal').on('show.bs.modal', function () {
                //$.ajax({
                //    url: "/api/civilservants",
                //    type: "GET",
                //    contentType: "application/json;charset=utf-8",
                //    dataType: "json",
                //    success: function (result) {
                //        $('#from').empty();
                //        for (var i = 0; i < result.length; i++) {
                //            $('#from').prepend('<option value="' + result[i].id + '">' + result[i].name + '</option>');
                //        }
                //    },
                //    error: function (errormessage) {
                //        toastr.error("This report is already exists.", "Server Response");
                //    }
                //});

                clearInput();
                $("#reportEndDate").hide();
                $("#reportEndDateLabel").hide();
            });

            $('#invitationModal').on('show.bs.modal', function () {
                clearInputInvitation();
            });

            var urlParam = document.location.href.split('/');

            if (urlParam[4].includes('report'))
            {
                activaTab('report');
                //document.getElementById('letterHeadNote').innerText = "ចំណាំ៖ គ្រប់ប្រភេទនៃរបាយការណ៍ត្រូវប្រើប្រាស់ Letterhead អគ្គលេខាធិការដ្ឋានក្រុមប្រឹក្សាជាតិគាំពារសង្គម មានលេខ ជាភាសាខ្មែរ។";
            }
            else if (urlParam[4].includes('invitation'))
            {
                activaTab('invitation');
                //document.getElementById('letterHeadNote').innerText = "ចំណាំ៖ គ្រប់ប្រភេទនៃលិខិតអញ្ជើញត្រូវប្រើប្រាស់ Letterhead អគ្គលេខាធិការដ្ឋានក្រុមប្រឹក្សាជាតិគាំពារសង្គម មានលេខ ជាភាសាខ្មែរ។";
            }
            else if (urlParam[4].includes('principle')) {
                activaTab('principle');
                //document.getElementById('letterHeadNote').innerText = "ចំណាំ៖ គ្រប់ប្រភេទនៃគោលការណ៍ត្រូវប្រើប្រាស់ Letterhead អគ្គលេខាធិការដ្ឋានក្រុមប្រឹក្សាជាតិគាំពារសង្គម មានលេខ ជាភាសាខ្មែរ។";
            }
        });

        function activaTab(tab) {
            $('.nav-pills a[href="#' + tab + '"]').tab('show');
        };

        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,
            function (m, key, value) {
                vars[key] = value;
            });
            return vars;
        }

        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            var target = $(e.target).attr("id");
            switch (target) {
                case "reportTab":
                    onGetReportTab();
                    //document.getElementById('letterHeadNote').innerText = "ចំណាំ៖ គ្រប់ប្រភេទនៃរបាយការណ៍ត្រូវប្រើប្រាស់ Letterhead អគ្គលេខាធិការដ្ឋានក្រុមប្រឹក្សាជាតិគាំពារសង្គម មានលេខ ជាភាសាខ្មែរ។";
                    break;
                case "principleTab":
                    onGetPrincipleTab();
                    //document.getElementById('letterHeadNote').innerText = "ចំណាំ៖ គ្រប់ប្រភេទនៃគោលការណ៍ត្រូវប្រើប្រាស់ Letterhead អគ្គលេខាធិការដ្ឋានក្រុមប្រឹក្សាជាតិគាំពារសង្គម មានលេខ ជាភាសាខ្មែរ។";
                    break;
                case "invitationTab":
                    onGetInvitationTab();
                    //document.getElementById('letterHeadNote').innerText = "ចំណាំ៖ គ្រប់ប្រភេទនៃលិខិតអញ្ជើញត្រូវប្រើប្រាស់ Letterhead អគ្គលេខាធិការដ្ឋានក្រុមប្រឹក្សាជាតិគាំពារសង្គម មានលេខ ជាភាសាខ្មែរ។";
                    break;
                case "paymentTab":
                    // Code
                    break;
            }
        });
    </script>
}