﻿@model sambocappweb.ViewModels.AdminFormatViewModel
@using ReportViewerForMvc;
@{
    ViewBag.Title = "Admin Format";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divLoadingModal"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5 class="panel-title">@sambocappweb.Resources.Language.AdminFormat</h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="formatType">Choose Format Type:</label>
                                <select class="form-control input-sm" id="formatType">
                                    <option value="">Report</option>
                                    <option value="">Principle</option>
                                    <option value="">Invitation Letter</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label><input type="checkbox" id="chkReference" checked="checked" />Got Reference</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="sender">@sambocappweb.Resources.Language.From</label>
                                <select class="form-control input-sm" id="sender">
                                    @foreach (var civilServant in Model.CivilServants)
                                    {
                                        <option value=@civilServant.Id>@civilServant.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="recipient">@sambocappweb.Resources.Language.From</label>
                                <select class="form-control input-sm" id="recipient">
                                    @foreach (var civilServant in Model.CivilServants)
                                    {
                                        <option value=@civilServant.Id>@civilServant.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                        
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btnReload" onclick="onReload()" class="btn btn-primary btn-block btn-sm"><span class="glyphicon glyphicon-search"></span> Preview</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { @style = "width: 100%; height: 100%" })
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var allParam = getParams(window.location.href);
            var reference = false;
            var recipient = "";
            var sender = "";
            for (key in allParam) {
                if (allParam.hasOwnProperty(key)) {
                    var value = allParam[key];
                    //console.log(value);
                    //console.log(key);
                    if (key == "reference")
                    {
                        reference = value;
                    }
                    else if (key == "recipient")
                    {
                        recipient = value;
                    }
                    else if (key == "sender")
                    {
                        sender = value;
                    }
                }
            }
            $('#recipient').val(recipient).change();
            $('#sender').val(sender).change();
            if (reference == 'true') {
                $('#chkReference').prop('checked', true);
            } else {
                $('#chkReference').prop('checked', false);
            }
        })
        function onReload() {
            window.location.href = "/adminformats/renderreport?recipient=" + $('#recipient option:selected').text() + "&sender=" + $('#sender option:selected').text() + "&reference=" + $('#chkReference').is(':checked');
        }
        var getParams = function (url) {
            var params = {};
            var parser = document.createElement('a');
            parser.href = url;
            var query = parser.search.substring(1);
            var vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                params[pair[0]] = decodeURIComponent(pair[1]);
            }
            return params;
        };
    </script>
}