﻿<form id="defendent" method="post" enctype="multipart/form-data">

    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="bannerModel" tabindex="-1" role="dialog" aria-labelledby="bannerModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div id="divLoadingModal"></div>
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                    <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.Defendent</b>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="bannerdate">@sambocappweb.Resources.Language.bannerdate</label>
                                        <input id="bannerdate" name="bannerdate" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="bannershopid">@sambocappweb.Resources.Language.Shopname</label>
                                        <select class="form-control input-sm" id="bannershopid">
                                        @foreach (var shopeselector in Model.Shops)
                                        {
                                            <option value=@shopeselector.Id>@shopeselector.ShopName</option>
                                        }
                                    </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="bannerexireddate">@sambocappweb.Resources.Language.bannerdate</label>
                                        <input id="bannerexireddate" name="bannerexireddate" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="bannerstatus">@sambocappweb.Resources.Language.Status</label>
                                        <select class="form-control input-sm" id="defendentSex">
                                            <option>True</option>
                                            <option>False</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <img class="center img-responsive img-thumbnail" id="BannerPhoto" src="~/Images/no_image.png" />
                            </div>
                            <div class="form-group">
                                <label>Upload Photo</label>
                                <input onchange="readURL(this);" type="file" id="bannerfile" style="width:100%;" />
                                <input type="hidden" value="" id="banner_old" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" id="btnBanner" onclick="BannerAction();" class="btn btn-primary btn-block btn-sm">Add New</button>
                            </div>
                        </div>
                    </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <table id="Banner_tbl" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>@sambocappweb.Resources.Language.Id</th>
                                            <th>@sambocappweb.Resources.Language.Date </th>
                                            <th>@sambocappweb.Resources.Language.userid</th>
                                            <th>@sambocappweb.Resources.Language.shopid</th>
                                            <th>@sambocappweb.Resources.Language.exireddate</th>
                                            <th>@sambocappweb.Resources.Language.bannerimage</th>
                                            <th>@sambocappweb.Resources.Language.Status</th>
                                            <th>@sambocappweb.Resources.Language.Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    

                </div>
            </div>
        </div>
    </div>
</form>



@section scripts{
    @Scripts.Render("~/Scripts/Functions/banner.js")
}




<div class="modal fade" data-backdrop="static" data-keyboard="false" id="customerModal" aria-labelledby="customerModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">Manage Customer</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="date">Date</label>
                                        <input type="date" name="date" id="date" class="form-control input-sm" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="text" name="phone" id="phone" class="form-control input-sm" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="tokenid">Token ID</label>
                                        <input type="text" name="tokenid" id="tokenid" class="form-control input-sm" value="" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="currentlocation">Current Location</label>
                                        <input type="text" name="currentlocation" id="currentlocation" class="form-control input-sm" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="name">Customer Name</label>
                                        <input type="text" name="name" id="name" class="form-control input-sm" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="contactPhone">Image Profile</label>
                                        <input type="text" name="contactPhone" id="contactPhone" class="form-control input-sm" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button class="btn btn-xs btn-info form-control" id="saveCompany">Save</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Image Profile</label>
                            <img class="center img-responsive img-thumbnail" id="companyPhoto" src="~/Images/company.png" alt="Alternate Text" />
                        </div>
                        <div class="form-group">
                            <label>Upload Photo</label>
                            <input onchange="readURL(this);" type="file" name="file" style="width:100%;" value="" />
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>