﻿@using sambocappweb.Resources
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<link href="~/Content/Layout/css/table.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <button type="button" class="btn btn-success btn-xs pull-right" id="btnbanner" onclick="ClearControl();" data-toggle="modal" data-target="#bannerModel" style="margin-right:10px"><span class="glyphicon glyphicon-plus-sign"></span>@Language.AddNewBanner</button>

            <h5 class="modal-title">@sambocappweb.Resources.Language.BannerPage</h5>
            
        </div>
        <div class="panel-body" style="overflow-x:auto;">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline pull-right">

                        @*//data-toggle="modal" data-target="#filterModal"*@

                        <button type="button" class="btn btn-info btn-xs pull-right" id="btn_Request" onclick="FilterRequest();"><span class="glyphicon glyphicon-filter"></span>New</button>

                        <button type="button" class="btn btn-success btn-xs pull-right" id="btn_All" onclick="FilterAllData();" style="display:none"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span>Active</button>&nbsp;&nbsp;
                        <input id="bannernamesearch" name="banner" placeholder="Search" type="text" value="" class="form-control input-sm" style="min-width: 100%; display:none">
                    </div>
                    
                    <div class="form-inline pull-right">
                        &nbsp;

                        <span class="hovertext" data-hover="All data (Aproved) after you click &#128523;">
                            <label class="checkbox-inline"><input type="checkbox" class="checkbox-inline form-control input-sm" value="" style="width: 140px; margin: -6px -70px;">Aprove All &nbsp; </label>
                        </span>
                    </div>

                </div>

            </div><hr />
            <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tblbanner">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>@Language.ShopId</th>
                        <th>@Language.ShopName</th>
                        <th>@Language.startdate</th>
                        <th>@Language.exireddate</th>
                        <th>@Language.bannerimage</th>
                        <th>@Language.Status</th>
                        <th>@Language.Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@*@Html.Partial("_Banner")*@
@{ Html.RenderAction("Banner", "Banners"); }
@section scripts{
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/Functions/banner.js")
}


