﻿@*@model IEnumerable<sambocappweb.ViewModels.Manage_ShopViewModels>*@
@using sambocappweb.Resources
@{ Layout = null; }






<div class="modal fade" data-backdrop="static" data-keyboard="fale" id="shopPaymentModel" tabindex="-1" role="dialog" aria-labelledby="shopPaymentModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="loadingGif"></div>
            <div class="modal-header">
                <button type="button" class="btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">@Language.ShopPayment</b>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12" style="background-color:rgb(182 182 182 / 0.35);border-radius:5px">
                        <br />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="shopid">@Language.ShopName</label>
                                        <select class="form-control input-sm" id="shopid">
                                            @foreach (var shopeselector in Model.shopes)
                                            {
                                <option value=@shopeselector.id>@shopeselector.shopName</option>}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="payType">@Language.PaymentType</label>
                                    <select name="payType" class="form-control input-sm" id="payType">
                                        <option value="free">Free</option>
                                        <option value="prepaid">Prepaid</option>
                                        <option value="transaction">% Per transaction</option>
                                        <option value="fix">Fix Amount</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" style="display:none">
                                    <label for="shopPaymentid">@Language.Id</label>
                                    <input id="shopPaymentid" name="shopPaymentid" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="startDate">@Language.startdate</label>
                                    <input id="startDate" name="startDate" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" style="display:none">
                                        <label for="date">date</label>
                                        <input id="date" name="date" placeholder="Please Input Date" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control " style="min-width: 100%" />

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="endDate">@Language.exireddate</label>
                                        <input id="endDate" name="endDate" placeholder="Please Input Expied Date" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control " style="min-width: 100%" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="amount">@Language.Amount</label>
                                        <input id="amount" name="amount" type="number" value="" placeholder="Enter Amount" class="form-control input-sm"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="note">@Language.Note</label>
                                        <textarea id="note" name="note" type="text" value="" placeholder="Enter Note" class="form-control input-sm"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="co-md-12">
                                <div class="col-md-12">
                                    <button type="button" id="btnShopPayment" onclick="BtnShopPaymentAction();" class="btn btn-primary btn-block btn-sm">Add New</button>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>


