﻿@using sambocappweb.Resources
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<link href="~/Content/Layout/css/table.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <button type="button" class="btn btn-success btn-xs pull-right" onclick="ShopPaymentAction();" data-toggle="modal" data-target="#shopPaymentModel" style="margin-right:10px"><span class="glyphicon glyphicon-plus-sign"></span>Add New ShopPayment</button>

            <h5 class="modal-title">@Language.ShopPayment</h5>

        </div>
        <div class="panel-body" style="overflow-x:auto;">
            
            <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tblShopPayment">
                <thead>
                    <tr>
                        @*<th>ID</th>*@
                        <th>@Language.Date</th>
                        <th>@Language.ShopName</th>
                        <th>@Language.PaymentType</th>
                        <th>@Language.startdate</th>
                        <th>@Language.ExpiredDate</th>
                        <th>@Language.Amount</th>
                        <th>@Language.Note</th>
                        <th>@Language.Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@Html.Partial("_ShopPayment")
@*@{ Html.RenderAction("shopPayment", "shopPayments"); }*@
@section scripts{
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/Functions/shopPayment.js")
}


