﻿
<section id="topFooter">
    <div class="row" style="line-height: 32px;">
        <div class="col-md-4">
            <label><span class="glyphicon glyphicon-link"></span> @sambocappweb.Resources.Language.Links</label>
            <ul style="list-style: none; padding-left:0">
                @if (Request.Cookies["Language"].Value == "ca")
                {
                    <li style="margin-bottom: 5px;">
                        <a href="@Url.Action("sambocappwebMembers", "BlogPosts")" style="text-decoration: none; color: #fff;"><span class="glyphicon glyphicon-chevron-right"></span> សេចក្តីសង្ខេបអំពី អឹម.អាយ.អែស</a>
                    </li>
                    <li style="margin-bottom: 5px;">
                        <a href="@Url.Action("WebsiteDevelopment", "BlogPosts")" style="text-decoration: none; color: #fff;"><span class="glyphicon glyphicon-chevron-right"></span> បង្កើតគេហទំព័រ</a>
                    </li>
                    <li style="margin-bottom: 5px;">
                        <a href="@Url.Action("SoftwareDevelopment", "BlogPosts")" style="text-decoration: none; color: #fff;"><span class="glyphicon glyphicon-chevron-right"></span> បង្កើតប្រព័ន្ធគ្រប់គ្រង់</a>
                    </li>
                    <li style="margin-bottom: 5px;">
                        <a href="@Url.Action("MobileAppDevelopment", "BlogPosts")" style="text-decoration: none; color: #fff;"><span class="glyphicon glyphicon-chevron-right"></span> បង្កើតកម្មវិធីលើស្មាតហ្វូន</a>
                    </li>
                    <li style="margin-bottom: 5px;">
                        <a href="@Url.Action("NetworkImplementation", "BlogPosts")" style="text-decoration: none; color: #fff;"><span class="glyphicon glyphicon-chevron-right"></span> តំឡើងបណ្តាញគ្រប់គ្រង</a>
                    </li>
                    <li style="margin-bottom: 5px;">
                        <a href="@Url.Action("Contact", "BlogPosts")" style="text-decoration: none; color: #fff;"><span class="glyphicon glyphicon-chevron-right"></span> ទំនាក់ទំនង</a>
                    </li>
                    <li style="margin-bottom: 5px;">
                        <a href="@Url.Action("Structure", "BlogPosts")" style="text-decoration: none; color: #fff;"><span class="glyphicon glyphicon-chevron-right"></span> គោលការណ៌</a>
                    </li>
                }
                else
                {
                    <li style="margin-bottom: 5px;">
                        <a href="@Url.Action("sambocappwebMembers", "BlogPosts")" style="text-decoration: none; color: #fff;"><span class="glyphicon glyphicon-chevron-right"></span> About MISTEAMS</a>
                    </li>
                    <li style="margin-bottom: 5px;">
                        <a href="@Url.Action("WebsiteDevelopment", "BlogPosts")" style="text-decoration: none; color: #fff;"><span class="glyphicon glyphicon-chevron-right"></span> Website Development</a>
                    </li>
                    <li style="margin-bottom: 5px;">
                        <a href="@Url.Action("SoftwareDevelopment", "BlogPosts")" style="text-decoration: none; color: #fff;"><span class="glyphicon glyphicon-chevron-right"></span> Software Development</a>
                    </li>
                    <li style="margin-bottom: 5px;">
                        <a href="@Url.Action("MobileAppDevelopment", "BlogPosts")" style="text-decoration: none; color: #fff;"><span class="glyphicon glyphicon-chevron-right"></span> Mobile App Development</a>
                    </li>
                    <li style="margin-bottom: 5px;">
                        <a href="@Url.Action("NetworkImplementation", "BlogPosts")" style="text-decoration: none; color: #fff;"><span class="glyphicon glyphicon-chevron-right"></span> Network Implementation</a>
                    </li>
                    <li style="margin-bottom: 5px;">
                        <a href="@Url.Action("Contact", "BlogPosts")" style="text-decoration: none; color: #fff;"><span class="glyphicon glyphicon-chevron-right"></span> Contact</a>
                    </li>
                    <li style="margin-bottom: 5px;">
                        <a href="@Url.Action("Structure", "BlogPosts")" style="text-decoration: none; color: #fff;"><span class="glyphicon glyphicon-chevron-right"></span> Privacy Policy</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-4">
            <label>@sambocappweb.Resources.Language.Contact</label>
            @if (Request.Cookies["Language"].Value == "ca")
            {
                <p><span class="glyphicon glyphicon-earphone"></span> 016 647 601</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;089647 601</p>
                <hr />
                <p><span class="glyphicon glyphicon-envelope"></span> info@misteams.com</p>
                <hr />
                <p><span class="glyphicon glyphicon-map-marker"></span> សុធារស់,​ ទន្លេបាសាក់, ចំការមន, រាជធានីភ្នំពេញ</p>
                <hr />
                <p><a target="_blank" href="https://www.facebook.com/MISTEAMS/" style="text-decoration: none; color: #fff;"><span id="fb">f</span> ហ្វេសប៊ុកផេករបស់យើង</a></p>
            }
            else
            {
                <p><span class="glyphicon glyphicon-earphone"></span> (+855)89 647 601</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(+855)10 647 601</p>
                <hr />
                <p><span class="glyphicon glyphicon-envelope"></span> info@misteams.com</p>
                <hr />
                <p><span class="glyphicon glyphicon-map-marker"></span> Sothearos, Tonle Bassac, Chamkamon, Phnom Penh Phnom Penh, 12301</p>
                <hr />
                <p><a target="_blank" href="https://www.facebook.com/MISTEAMS/" style="text-decoration: none; color: #fff;"><span id="fb">f</span> Our Facebook Page</a></p>
            }
        </div>
        <div class="col-md-4">
            <label><span class="glyphicon glyphicon-envelope"></span> @sambocappweb.Resources.Language.GiveFeedback</label>
            <div class="row">
                <div class="col-md-12">
                    <input id="feedbackId" name="feedbackId" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    <div class="form-group">
                        <input id="feedbackName" name="feedbackName" placeholder="@sambocappweb.Resources.Language.Name" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input id="feedbackEmail" name="feedbackEmail" placeholder="@sambocappweb.Resources.Language.Email" type="email" value="" class="form-control input-sm" style="min-width: 100%" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input id="feedbackSubject" name="feedbackSubject" placeholder="@sambocappweb.Resources.Language.Subject" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea id="feedbackMessage" placeholder="@sambocappweb.Resources.Language.Message" rows="3" class="form-control input-sm"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <button type="button" onclick="submitFeedback()" class="btn btn-primary btn-sm btn-block"><span class='glyphicon glyphicon-send'></span> @sambocappweb.Resources.Language.SendMessage</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="bottomFooter">
    @if (Request.Cookies["Language"].Value == "ca")
    {
        <span>រក្សាសិទ្ធិ &copy; ២០២២ ដោយអឹមអាយអែស</span>
    }
    else
    {
        <span>Copyright &copy; 2022 by MISTEAMS Development</span>
    }
</footer>

