﻿<!-- Navbar -->
<div class="container">

    <!-- Website Logo -->
    <div class="row" id="navbarBrandBlog">
        <div class="col-md-6">
            <a id="navbarBrand" href="@Url.Action("Index", "Home")">
                @*<img src="~/Content/sambocappweb-logo.png" class="img-responsive" alt="Management Information System">*@
                <div style="height:150px;"></div>
            </a>
        </div>
    </div>

    <!-- Website Menu -->
    <div class="row">
        <div class="navbar navbar-default" id="navbarBlog">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- Menu Switch Language -->
                    @if (Request.Cookies["Language"].Value == "en")
                    {
                        <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Home") ? "active" : "")">
                            <a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span> Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About us <span class="caret"></span></a>
                            <ul class="dropdown-menu animate slideIn">
                                @*<li>
                                    <a href='@Url.Action("Introduction", "BlogPosts")'>
                                        Brief Introduction to sambocappweb
                                    </a>
                                </li>*@
                                @*<li>
                                    <a href='@Url.Action("Vision", "BlogPosts")'>
                                        Vision
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Mission", "BlogPosts")'>
                                        Mission
                                    </a>
                                </li>*@
                                <li>
                                    <a href='@Url.Action("sambocappwebMembers", "BlogPosts")'>
                                        About US
                                    </a>
                                </li>
                                
                                <li>
                                    <a href='@Url.Action("Contact", "BlogPosts")'>
                                        Contact US
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Structure", "BlogPosts")'>
                                        Privacy
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Documents") ? "active" : "")">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Services <span class="caret"></span></a>
                            <ul class="dropdown-menu animate slideIn">
                                <li>
                                    <a href='@Url.Action("WebsiteDevelopment", "BlogPosts")'>Website Development</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SoftwareDevelopment", "BlogPosts")'>Software Development</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MobileAppDevelopment", "BlogPosts")'>Mobile Development</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("NetworkImplementation", "BlogPosts")'>Network Implementation</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MaintenanceServices", "BlogPosts")'>Maintenance Services</a>
                                </li>
                            </ul>
                        </li>
                        <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "BlogRegulation" && ViewContext.RouteData.Values["Controller"].ToString() == "Announcements") ? "active" : "")">
                            <a href="@Url.Action("BlogRegulation", "Announcements")">Guid Line</a>
                        </li>
                        <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "BlogPublication" && ViewContext.RouteData.Values["Controller"].ToString() == "Publications") ? "active" : "")">
                            <a href="@Url.Action("BlogPublication", "Publications")">Demo System</a>
                        </li>
                        
                        <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "News" && ViewContext.RouteData.Values["Controller"].ToString() == "BlogPosts") ? "active" : "")">
                            <a href="@Url.Action("News", "BlogPosts")">News</a>
                        </li>
                        <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Documents") ? "active" : "")">
                            <a href="@Url.Action("Contact", "BlogPosts")">Contact</a>
                        </li>
                    }
                    else
                    {
                        <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Home") ? "active" : "")">
                            <a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span> ទំព័រដើម</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">អំពីយើង <span class="caret"></span></a>
                            <ul class="dropdown-menu animate slideIn">
                                
                                <li>
                                    <a href='@Url.Action("sambocappwebMembers", "BlogPosts")'>
                                        អំពីអឹមអាយអែស
                                    </a>
                                </li>
                                
                                <li>
                                    <a href='@Url.Action("Contact", "BlogPosts")'>
                                        ទំនាក់ទំនង
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Structure", "BlogPosts")'>
                                        គោលការណ៌
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Documents") ? "active" : "")">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">សេវាកម្មរបស់យើង<span class="caret"></span></a>
                            <ul class="dropdown-menu animate slideIn">
                                <li>
                                    <a href='@Url.Action("WebsiteDevelopment", "BlogPosts")'>បង្កើតគេហទំព័រ</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SoftwareDevelopment", "BlogPosts")'>បង្កើតប្រព័ន្ធគ្រប់គ្រង់</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MobileAppDevelopment", "BlogPosts")'>បង្កើតកម្មវិធីលើស្មាតហ្វូន</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("NetworkImplementation", "BlogPosts")'>តំឡើងបណ្តាញគ្រប់គ្រង</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MaintenanceServices", "BlogPosts")'>សេវាកម្មមើលថែទាំ</a>
                                </li>
                            </ul>
                        </li>
                        <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "BlogRegulation" && ViewContext.RouteData.Values["Controller"].ToString() == "Announcements") ? "active" : "")">
                            <a href="@Url.Action("BlogRegulation", "Announcements")">របៀបប្រើប្រាស់</a>
                        </li>
                        <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "BlogPublication" && ViewContext.RouteData.Values["Controller"].ToString() == "Publications") ? "active" : "")">
                            <a href="@Url.Action("BlogPublication", "Publications")">ប្រើសាកល្បង</a>
                        </li>
                        
                        <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "News" && ViewContext.RouteData.Values["Controller"].ToString() == "BlogPosts") ? "active" : "")">
                            <a href="@Url.Action("News", "BlogPosts")">ព័ត៌មានផ្សេងៗ</a>
                        </li>
                        <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Documents") ? "active" : "")">
                            <a href="@Url.Action("Contact", "BlogPosts")">ទំនាក់ទំនង</a>
                        </li>
                    }
                </ul>

                @Html.Partial("_LoginPartialBlog")

            </div>

        </div>
    </div>
</div>

<!-- Marquee -->
<marquee direction="left">
    <ul id="marqueeList" style="display: inline;">
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;សេវាកម្មរបស់អឹមអាយអែសមាន (១)ការបង្កើតគេហទំព័រជូនអតិថិជន (២)ការបង្កើតប្រព័ន្ធគ្រប់គ្រងទៅតាមតម្រូវការរបស់ម្ចាស់អាជីវកម្ម (៣)រៀបចំបណ្តាញកុំព្យូទ័រជូនអតិថិជន (៤)ការបង្កើតប្រព័ន្ធគ្រប់គ្រងនៅលើទូរស័ព្ទដៃ​ (៥)ការមើលថែទាំប្រព័ន្ធនិងកុំព្យូទរ័របស់អស់លោកអ្នក</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;សេវាកម្មរបស់អឹមអាយអែសមាន (១)ការបង្កើតគេហទំព័រជូនអតិថិជន (២)ការបង្កើតប្រព័ន្ធគ្រប់គ្រងទៅតាមតម្រូវការរបស់ម្ចាស់អាជីវកម្ម (៣)រៀបចំបណ្តាញកុំព្យូទ័រជូនអតិថិជន (៤)ការបង្កើតប្រព័ន្ធគ្រប់គ្រងនៅលើទូរស័ព្ទដៃ​ (៥)ការមើលថែទាំប្រព័ន្ធនិងកុំព្យូទរ័របស់អស់លោកអ្នក</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;សេវាកម្មរបស់អឹមអាយអែសមាន (១)ការបង្កើតគេហទំព័រជូនអតិថិជន (២)ការបង្កើតប្រព័ន្ធគ្រប់គ្រងទៅតាមតម្រូវការរបស់ម្ចាស់អាជីវកម្ម (៣)រៀបចំបណ្តាញកុំព្យូទ័រជូនអតិថិជន (៤)ការបង្កើតប្រព័ន្ធគ្រប់គ្រងនៅលើទូរស័ព្ទដៃ​ (៥)ការមើលថែទាំប្រព័ន្ធនិងកុំព្យូទរ័របស់អស់លោកអ្នក</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;សេវាកម្មរបស់អឹមអាយអែសមាន (១)ការបង្កើតគេហទំព័រជូនអតិថិជន (២)ការបង្កើតប្រព័ន្ធគ្រប់គ្រងទៅតាមតម្រូវការរបស់ម្ចាស់អាជីវកម្ម (៣)រៀបចំបណ្តាញកុំព្យូទ័រជូនអតិថិជន (៤)ការបង្កើតប្រព័ន្ធគ្រប់គ្រងនៅលើទូរស័ព្ទដៃ​ (៥)ការមើលថែទាំប្រព័ន្ធនិងកុំព្យូទរ័របស់អស់លោកអ្នក</li>
    </ul>
</marquee>

