﻿
@using sambocappweb.Resources

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink(@Language.systemapp, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @{
                    var action = ViewContext.RouteData.Values["Action"].ToString().ToLower();
                    var controller = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
                }
                
                <li class="@(action== "index" && controller=="customers" ? "active" : "")">
                    @Html.ActionLink(@Language.ManageCustomer, "Index", "Customers")
                </li>
                
                <li class="@(action == "index" && controller=="manage-shop" ? "active" : "")">@Html.ActionLink(@Language.ManageShop, "Index", "manage-shop")</li>

                <li class="@(action=="index" && controller == "deliverytypes" ? "active" : "")">@Html.ActionLink(@Language.DeliveryTypes, "Index", "DeliveryTypes")</li>

                <li class="@(action=="index" && controller == "products" ? "active" : "")">@Html.ActionLink(@Language.Product, "Index", "Products")</li>



                <li class="@(action == "index" && controller=="banners" ? "active" : "")">@Html.ActionLink(@Language.Banners, "Index", "Banners")</li>
                <li class="@(action == "index" && controller=="currencies" ? "active" : "")">@Html.ActionLink(@Language.Currencies, "Index", "Currencies")</li>
                <li class="@(action == "index" && controller=="exchanges" ? "active" : "")">@Html.ActionLink(@Language.Exchanges, "Index", "Exchanges")</li>
                <li class="@(action=="index" && controller == "orders" ? "active" : "")">@Html.ActionLink(@Language.Order, "Index", "Orders")</li>
                @*<li class="@(action=="index" && controller == "orderdetails" ? "active" : "")">@Html.ActionLink(@Language.Orderdetails, "Index", "Orderdetails")</li>*@
                <li class="@(action=="index" && controller == "ProductImages" ? "active" : "")">@Html.ActionLink(@Language.ProductImage, "Index", "ProductImages")</li>

                @*<li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")">@Html.ActionLink("Contact", "Contact", "Home")</li>*@

                @if (Request.IsAuthenticated)
                {

                    @*if (User.IsInRole("Manage Document"))
            {
                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Documents") ? "active" : "")">
                    <a href="@Url.Action("Index", "Documents")"><span class="glyphicon glyphicon-folder-close"></span> @sambocappweb.Resources.Language.Document</a>
                </li>
            }

            if (User.IsInRole("Manage Calendar"))
            {
                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Calendars") ? "active" : "")">
                    <a href="@Url.Action("Index", "Calendars")"><span class="glyphicon glyphicon-list-alt" style="vertical-align: text-top;"></span> @sambocappweb.Resources.Language.YourSchedule</a>
                </li>
            }

            if (User.IsInRole("Manage Meeting Room Calendar"))
            {
                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "MeetingRoomCalendars") ? "active" : "")">
                    <a href="@Url.Action("Index", "MeetingRoomCalendars")"><span class="glyphicon glyphicon-list-alt" style="vertical-align: text-top;"></span> @sambocappweb.Resources.Language.InternalSchedule</a>
                </li>
            }

            if (User.IsInRole("Manage Meeting Room Schedule"))
            {
                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "MeetingRoomSchedules") ? "active" : "")">
                    <a href="@Url.Action("Index", "MeetingRoomSchedules")"><span class="glyphicon glyphicon-time"></span> @sambocappweb.Resources.Language.MeetingRoomSchedule</a>
                </li>
            }

            if (User.IsInRole("Manage Assignment"))
            {
                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Jobs") ? "active" : "")">
                    <a href="@Url.Action("Index", "Jobs")"><span class="glyphicon glyphicon-briefcase"></span> @sambocappweb.Resources.Language.Assignment</a>
                </li>
            }*@

                    @*if (User.IsInRole("Manage Announcement"))
            {
                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Announcements") ? "active" : "")">
                    <a href="@Url.Action("Index", "Announcements")"><span class="glyphicon glyphicon-bell"></span> @sambocappweb.Resources.Language.Announcement</a>
                </li>
            }*@

                    @*if (User.IsInRole("Manage Monitoring"))
            {
                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Dashboards") ? "active" : "")">
                    <a href="@Url.Action("Index", "Dashboards")"><span class="glyphicon glyphicon-flash"></span> @sambocappweb.Resources.Language.Monitoring</a>
                </li>
            }

            if (User.IsInRole("Manage Admin Format"))
            {
                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "AdminFormats") ? "active" : "")">
                    <a href="@Url.Action("Index", "AdminFormats", new { report = 0 })"><span class="glyphicon glyphicon-duplicate"></span> @sambocappweb.Resources.Language.AdminFormat</a>
                </li>
            }

            if (User.IsInRole("Manage Website"))
            {
                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "BlogPosts") ? "active" : "")">
                    <a href="@Url.Action("Index", "BlogPosts")"><span class="glyphicon glyphicon-globe"></span> @sambocappweb.Resources.Language.WebsiteAdmin</a>
                </li>
            }*@
                    if (User.IsInRole("Manage Website"))
                    {
                        @*<li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "CivilCases") ? "active" : "")">
                    <a href="@Url.Action("Index", "CivilCases")"><span class="glyphicon glyphicon-globe"></span> Test</a>
                </li>*@
                    }
                    if (User.IsInRole("Manage Website"))
                    {
                        @*<li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "CivilCases") ? "active" : "")">
                    <a href="@Url.Action("Index", "CivilCases")"><span class="glyphicon glyphicon-globe"></span> @sambocappweb.Resources.Language.Contract</a>
                </li>*@
                    }
                    if (User.IsInRole("Manage Website"))
                    {
                        @*<li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "CivilCases") ? "active" : "")">
                    <a href="@Url.Action("Index", "CivilCases")"><span class="glyphicon glyphicon-globe"></span> @sambocappweb.Resources.Language.TicketLetter</a>
                </li>*@
                    }


                }
            </ul>

            @Html.Partial("_LoginPartial")

        </div>
    </div>
</div>