﻿@if ((ViewContext.RouteData.Values["Action"].ToString().ToLower() == "blog" && ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "home"))
{
    <!-- Page Scroll to Activate the animation -->
    <script>
        document.addEventListener('scroll', function (e) {
            var top = window.pageYOffset + window.innerHeight,
                isVisible = top > document.querySelector('#social').offsetTop;

            if (isVisible)
            {
                $('.heading-primary-main').toggleClass('animateSocialLeft', isVisible);
                $('.heading-primary-sub').toggleClass('animateSocialRight', isVisible);
                $('.btns-white').toggleClass('btns-animated', isVisible);
                $('.btns-white').toggleClass('btns-animated', isVisible);
            }
            else
            {
                $('.heading-primary-main').removeClass('animateSocialLeft', isVisible);
                $('.heading-primary-sub').removeClass('animateSocialRight', isVisible);
                $('.btns-white').toggleClass('btns-animated', isVisible);
                $('.btns-white').toggleClass('btns-animated', isVisible);
            }
        });
    </script>
    
    <!-- Social -->
    <div class="row" id="social">
        <div class="main-cover-photo">
            <div class="text-box">
                <b class="heading-primary">
                    @if (Request.Cookies["Language"].Value == "ca")
                    {
                        <span id="heading-main" style="display: none;" class="heading-primary-main">ប្រព័ន្ធគ្រប់គ្រងដែលជួយអោយអាជីវកម្មរបស់អ្នកកាន់តែរីកចម្រើន</span>
                        <span id="heading-main" style="display: none;" class="heading-primary-main">ប្រឹក្សាយោបល់ពីរបៀបគ្រប់គ្រងអាជីវកម្មដោយប្រើបច្ចេកវិទ្យា</span>
                        <span id="heading-sub" style="display: none;" class="heading-primary-sub">អាជីវកម្មរបស់អស់លោកអ្នកគឺស្ថិតនៅក្នុងដៃរបស់អស់លោកអ្នក</span>
                        @Html.ActionLink("បង្កើតគេហទំព័រ", "WebsiteDevelopment", "BlogPosts", null, new { @class = "btns btns-white btns-animated" })
                        @Html.ActionLink("បង្កើតប្រព័ន្ធគ្រប់គ្រង់", "SoftwareDevelopment", "BlogPosts", null, new { @class = "btns btns-white btns-animated" })
                        @Html.ActionLink("បង្កើតកម្មវិធីលើស្មាតហ្វូន", "MobileAppDevelopment", "BlogPosts", null, new { @class = "btns btns-white btns-animated" })
                        @Html.ActionLink("តំឡើងបណ្តាញគ្រប់គ្រង", "NetworkImplementation", "BlogPosts", null, new { @class = "btns btns-white btns-animated" })
                    }
                    else
                    {
                        <span id="heading-main" style="display: none;" class="heading-primary-main">Management systems that help your business grow</span>
                        <span id="heading-main" style="display: none;" class="heading-primary-main">Consulting on how to manage a business using technology</span>
                        <span id="heading-sub" style="display: none;" class="heading-primary-sub">Your business is in your hands</span>
                        @Html.ActionLink("Website Development", "WebsiteDevelopment", "BlogPosts", null, new { @class = "btns btns-white btns-animated" })
                        @Html.ActionLink("Software Development", "SoftwareDevelopment", "BlogPosts", null, new { @class = "btns btns-white btns-animated" })
                        @Html.ActionLink("Mobile App Development", "MobileAppDevelopment", "BlogPosts", null, new { @class = "btns btns-white btns-animated" })
                        @Html.ActionLink("Network Implementation", "NetworkImplementation", "BlogPosts", null, new { @class = "btns btns-white btns-animated" })
                    }
                </b>
            </div>
        </div>
    </div>
}