﻿@using sambocappweb.Resources
<div class="modal fade" data-backdrop="static" data-keyboard="fale" id="setupbankModel" tabindex="-1" role="dialog" aria-labelledby="setupbankModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="loadingGif"></div>
            <div class="modal-header">
                <button type="button" class="btn-danger btn-xs pull-right" onclick="ClearControl();" data-dismiss="modal" aria-hidden="true">@Language.Close</button>
                <b class="modal-title" style="color:darkblue">@Language.controll @Language.BankName</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-group" style="display:none">
                                <label for="currencyid">@Language.Id</label>
                                <input id="id" name="id" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                            <label for="methodname">@Language.BankName</label>
                            <input id="methodname" name="methodname" type="text" value="" class="form-control input-sm" placeholder="Input Bank Name" />
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" id="txtbtnSetupbank" name="txtbtnSetupbank" value="Save" />
                        <button type="button" id="btnSetupbank" onclick="setupAction()" class="btn btn-primary btn-block btn-sm">Save</button>

                        @*<button type="button" id="btnSetupbank" onclick="setupAction();" class="btn btn-primary btn-block btn-sm">@Language.Save</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
