﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="CaseexpenseDetailModal" tabindex="-1" role="dialog" aria-labelledby="CaseexpenseDetailModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                <b class="modal-title" style="color: darkblue;">Case Expense</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input id="Caseexpenseid" name="Caseexpenseid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <input id="CaseexpenseDetailid" name="CaseexpenseDetailid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input id="description" name="description" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="amount">Amount</label>
                                <input id="amount" name="amount" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="paymentmethod">Payment Method</label>
                                <select id="paymentmethod" class="form-control input-sm">
                                    @foreach (var paymentMethod in Model.PaymentMethods)
                                    {
                                        <option value=@paymentMethod.id>@paymentMethod.paymentmethodname</option>
                                    }
                                </select>
                                @*<input id="paymentmethod" name="paymentmethod" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />*@
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#PaymentMethodModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <button type="button" id="btnSaveCaseexpenseDetail" onclick="CaseexpenseDetailAction()" class="btn btn-primary btn-block btn-sm">Add New</button>
                        </div>
                        @*<div class="col-md-6">
                                <button type="button" id="btnCivilPaymentActionBillgroup" onclick="openInvoiceBillgrouop()" class="btn btn-success btn-block btn-sm">Bill Group</button>

                            </div>*@
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table id="CaseexpenseDetailTable" class="table-hover table-bordered table-condensed table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@sambocappweb.Resources.Language.Id</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                    <th>Payment Method</th>
                                    <th>@sambocappweb.Resources.Language.Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
