﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="casetypeModal" style="z-index:1044 !important; " tabindex="-1" role="dialog" aria-labelledby="casetypeModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" id="close_casetype" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.CaseType</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="casetypeId" name="casetypeId" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="casetypeName">@sambocappweb.Resources.Language.CasetypeName</label>
                            <input id="casetypeName" name="casetypeName" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="casetypeNote">@sambocappweb.Resources.Language.CaseNote</label>
                            <input id="casetypeNote" name="casetypeNote" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnCaseTypeAction" onclick="CaseTypeAction()" class="btn btn-primary btn-block btn-sm">Save changes</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table id="CaseTypeTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>@sambocappweb.Resources.Language.CasetypeName</th>
                                    <th>@sambocappweb.Resources.Language.CaseNote</th>
                                    <th>@sambocappweb.Resources.Language.Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

