﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="civilcasetribunalModal" tabindex="-1" role="dialog" aria-labelledby="civilcasetribunalModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.Tribunal</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row">
                        <input id="cvtribunalid" name="cvtribunalid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ctribunaldate">@sambocappweb.Resources.Language.Date</label>
                                <input id="ctribunaldate" name="ctribunaldate" placeholder="" type="date" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ccivilcaseid">@sambocappweb.Resources.Language.CivilCase</label>
                                <select class="form-control input-sm" id="ccivilcaseid">
                                    @foreach (var civilcase in Model.Civilcases)
                                    {
                                        <option value=@civilcase.id>@civilcase.civilcaseno</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ctribunalid">@sambocappweb.Resources.Language.Tribunal</label>
                                <select class="form-control input-sm" id="ctribunalid">
                                    @foreach (var civilcase in Model.Tribunals)
                                    {
                                        <option value=@civilcase.id>@civilcase.tribunalname</option>
                                    }
                                </select>
                            </div>
                        </div>
                        </div>
                    <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="clawyerid">@sambocappweb.Resources.Language.LawyerName</label>
                                    <select class="form-control input-sm" id="clawyerid">
                                        @foreach (var civilcase in Model.Lawyers)
                                    {
                                    <option value=@civilcase.Id>@civilcase.name</option>
                                    }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="a">&nbsp;</label>
                                    <button data-toggle="modal" data-target="#lawyerModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="clocation">@sambocappweb.Resources.Language.Location</label>
                                    <input id="clocation" name="clocation" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cjudgeid">@sambocappweb.Resources.Language.Judge</label>
                                    <select class="form-control input-sm" id="cjudgeid">
                                        @foreach (var civilcase in Model.Judges)
                                        {
                                            <option value=@civilcase.Id>@civilcase.judgename</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="a">&nbsp;</label>
                                    <button data-toggle="modal" data-target="#judgeModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cclerkid">@sambocappweb.Resources.Language.Clerk</label>
                                <select class="form-control input-sm" id="cclerkid">
                                    @foreach (var civilcase in Model.Clerks)
                                    {
                                        <option value=@civilcase.Id>@civilcase.clerkname</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#clerkModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cofficerid">@sambocappweb.Resources.Language.Officer</label>
                                <select class="form-control input-sm" id="cofficerid">
                                    @foreach (var civilcase in Model.Officers)
                                    {
                                        <option value=@civilcase.Id>@civilcase.officername</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#officerModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cnote">@sambocappweb.Resources.Language.Description</label>
                                <input id="cnote" name="cnote" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnCTribunalAction" onclick="CTribunalAction()" class="btn btn-primary btn-block btn-sm">Save changes</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table id="ctribunalTable" class="table-hover table-bordered table-condensed table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@sambocappweb.Resources.Language.Id</th>
                                    <th>@sambocappweb.Resources.Language.Date</th>
                                    <th>@sambocappweb.Resources.Language.CivilCase</th>
                                    <th>@sambocappweb.Resources.Language.Tribunal</th>
                                    <th>@sambocappweb.Resources.Language.LawyerName</th>
                                    <th>@sambocappweb.Resources.Language.Judge</th>
                                    <th>@sambocappweb.Resources.Language.Clerk</th>
                                    <th>@sambocappweb.Resources.Language.Officer</th>
                                    <th>@sambocappweb.Resources.Language.Description</th>
                                    <th>@sambocappweb.Resources.Language.Action</th>
                                </th>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


