﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="civilcaseproceedingModal" style="z-index:1049 !important;" tabindex="-1" role="dialog" aria-labelledby="civilcaseproceedingModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.CaseProceeding</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row">
                        <input id="cvproceedingid" name="cvproceedingid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cproceedingdate">@sambocappweb.Resources.Language.Date</label>
                                <input id="cproceedingdate" name="cproceedingdate" placeholder="" type="date" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cpcivilcaseid">@sambocappweb.Resources.Language.CivilCase</label>
                                <select class="form-control input-sm" id="cpcivilcaseid">
                                    @foreach (var civilcase in Model.Civilcases)
                                    {
                                        <option value=@civilcase.id>@civilcase.civilcaseno</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cplawyerid">@sambocappweb.Resources.Language.LawyerName</label>
                                <select class="form-control input-sm" id="cplawyerid">
                                    @foreach (var civilcase in Model.Lawyers)
                                    {
                                        <option value=@civilcase.Id>@civilcase.name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            @*<div class="form-group">
                                <label for="cpnote">@sambocappweb.Resources.Language.Description</label>
                                <input id="cpnote" name="cpnote" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>*@
                            <div class="form-group">
                                <label for="cproccedingtypeid">@sambocappweb.Resources.Language.CaseProcedingType</label>
                                <select class="form-control input-sm" id="cproccedingtypeid">
                                    @foreach (var civilcase in Model.CaseproccedingTypes)
                                    {
                                        <option value=@civilcase.id>@civilcase.caseproccedingtype</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#caseproccedingtypeModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnCProceedingAction" onclick="CProceedingAction()" class="btn btn-primary btn-block btn-sm">Save changes</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table id="cproceedingTable" class="table-hover table-bordered table-condensed table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@sambocappweb.Resources.Language.Id</th>
                                    <th>@sambocappweb.Resources.Language.Date</th>
                                    <th>@sambocappweb.Resources.Language.CivilCase</th>
                                    <th>@sambocappweb.Resources.Language.LawyerName</th>
                                    <th>@sambocappweb.Resources.Language.Description</th>
                                    <th>@sambocappweb.Resources.Language.Action</th>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



