﻿
<form id="civilcaseForm" method="post" enctype="multipart/form-data">
    <div class="modal fade" data-backdrop="static" style="z-index:1041 !important; " data-keyboard="false" id="civilcaseModal" tabindex="-1" role="dialog" aria-labelledby="civilcaseModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div id="divLoadingModal"></div>
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                    <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.CaseManagement</b>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <input id="zcivilcaseid" name="zcivilcaseid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <input id="zidno" name="zidno" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="zcivilcaseno">@sambocappweb.Resources.Language.CivilCaseNumber</label>
                                <input id="zcivilcaseno" name="zcivilcaseno" type="text" value="" class="form-control input-sm" placeholder="Enter CivilCase No" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="zofficeid">@sambocappweb.Resources.Language.OfficeCode</label>
                                <select class="form-control input-sm" id="zofficeid">
                                    @foreach (var civilcase in Model.Offices)
                                    {
                                        <option value=@civilcase.id>@civilcase.officename</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#officeModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-list-alt"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="zdocumentno">@sambocappweb.Resources.Language.DocumentNo</label>
                                <input id="zdocumentno" name="zdocumentno" type="text" value="" class="form-control input-sm" placeholder="Enter Document No" />
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="zcivilcasedate">@sambocappweb.Resources.Language.Date</label>
                                <input id="zcivilcasedate" name="zcivilcasedate" type="date" value="" class="form-control input-sm" placeholder="Enter CivilCase Date" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="zcaseid">@sambocappweb.Resources.Language.Case</label>
                                <select id="zcaseid" class="form-control input-sm"></select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#caseModal" class="btn btn-success btn-sm pull-right" ><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="zcasetypeid">@sambocappweb.Resources.Language.CaseType</label>
                                <select id="zcasetypeid" class="form-control input-sm"></select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#casetypeModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                        
                        
                        
                        
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="zplaintiffid">@sambocappweb.Resources.Language.Plaintiff</label>
                                <select id="zplaintiffid" class="form-control input-sm"></select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#plaintiffModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="zdefendentid">@sambocappweb.Resources.Language.Defendent</label>
                                <select id="zdefendentid" class="form-control input-sm"></select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#defendentModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="zlawyerid">@sambocappweb.Resources.Language.Lawyer</label>
                                <select id="zlawyerid" class="form-control input-sm"></select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#lawyerModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                   </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="zcustomerid">@sambocappweb.Resources.Language.OurCustomer</label>
                                <select id="zcustomerid" class="form-control input-sm"></select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#customerModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="zcasepositionid">@sambocappweb.Resources.Language.CasePosition</label>
                                <select id="zcasepositionid" class="form-control input-sm"></select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#casepositionModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-share"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="zlawrelateid">@sambocappweb.Resources.Language.Lawrelate</label>
                                <select id="zlawrelateid" class="form-control input-sm"></select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#lawrelateModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="zservices">@sambocappweb.Resources.Language.Services</label>
                                <input id="zservices" name="zservices" type="number" value="" class="form-control input-sm" placeholder="Enter Services" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="zcharges">@sambocappweb.Resources.Language.Charges</label>
                                <input id="zcharges" name="zcharges" type="number" value="" class="form-control input-sm" placeholder="Enter Charges" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="zcasestatus">@sambocappweb.Resources.Language.Casestatus</label>
                                <select class="form-control input-sm" id="zcasestatus">
                                    <option>---សូមជ្រើសរើស----</option>
                                    <option>សំណុំរឿងរងចាំ</option>
                                    <option>សំណុំរឿងកំពុងចំណាត់ការ</option>
                                    <option>សំណុំរឿងបានចេញសាលក្រម</option>
                                    <option>សំណុំរឿងបិទបញ្ចប់</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="zpaidstatus">@sambocappweb.Resources.Language.PaidStatus</label>
                                <select class="form-control input-sm" id="zpaidstatus">
                                    <option>---សូមជ្រើសរើស----</option>
                                    <option>មិនទាន់បានបង់</option>
                                    <option>បានកក់ប្រាក់</option>
                                    <option>បានបង់រួចរាល់</option>
                                </select>
                            </div>
                        </div>
                        
                       
                    </div>
                    <hr />
                    <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.CaseProceeding</b>
                    <hr />
                    <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input id="zpid" name="zpid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                                        <label for="zcaseproceedingdate">@sambocappweb.Resources.Language.Date</label>
                                        <input id="zcaseproceedingdate" name="zcaseproceedingdate" placeholder="" type="date" value="" class="form-control input-sm" style="min-width: 100%" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="zcaseprocedinglawyerid">@sambocappweb.Resources.Language.LawyerName</label>
                                        <select id="zcaseprocedinglawyerid" class="form-control input-sm"></select>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label for="a">&nbsp;</label>
                                        <button data-toggle="modal" data-target="#lawyerModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="zcaseprocedingtypeid">@sambocappweb.Resources.Language.CaseProcedingType</label>
                                        <select id="zcaseprocedingtypeid" class="form-control input-sm"></select>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label for="a">&nbsp;</label>
                                        <button data-toggle="modal" data-target="#caseproccedingtypeModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                                    </div>
                                </div>
                    </div>

                    <hr />
                    <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.CaseTribunal</b>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="zcasetribunaldate">@sambocappweb.Resources.Language.Date</label>
                                <input id="ztid" name="ztid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                                <input id="zcasetribunaldate" name="zcasetribunaldate" placeholder="" type="date" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="zcasetribunalid">@sambocappweb.Resources.Language.Tribunal</label>
                                <select id="zcasetribunalid" class="form-control input-sm"></select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#tribunalModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="zcaselawyerids">@sambocappweb.Resources.Language.LawyerName</label>
                                <select id="zcaselawyerids" class="form-control input-sm"></select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#lawyerModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="zcasejudgeid">@sambocappweb.Resources.Language.Judge</label>
                                <select id="zcasejudgeid" class="form-control input-sm"></select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#judgeModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="zcaseclerkid">@sambocappweb.Resources.Language.Clerk</label>
                                <select id="zcaseclerkid" class="form-control input-sm"></select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#clerkModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="zcaseofficerid">@sambocappweb.Resources.Language.Officer</label>
                                <select id="zcaseofficerid" class="form-control input-sm"></select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#officerModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="zcaselocation" style="display: none;" disabled="disabled">@sambocappweb.Resources.Language.Location</label>
                                <input id="zcaselocation" name="zcaselocation" style="display: none;" disabled="disabled" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-6">
                                    <div class="form-group">
                                        <button type="button" id="btnCivilCase" onclick="CivilcaseAction();" class="btn btn-primary btn-block btn-sm">Add New</button>
                                    </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="button" class="btn btn-danger btn-block btn-sm" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                                    @*<button type="submit" class="btn btn-danger btn-block btn-sm" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>*@
                                </div>
                            </div>
                    </div>

                    </div>
            </div>

        </div>
    </div>
</form>

