﻿<form id="defendent" method="post" enctype="multipart/form-data">

    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="defendentModal" tabindex="-1" role="dialog" aria-labelledby="defendentModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div id="divLoadingModal"></div>
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                    <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.Defendent</b>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <img class="center img-responsive img-thumbnail" id="defendentPhoto" src="~/Images/no_image.png" />
                            </div>
                            <div class="form-group">
                                <label>Upload Photo</label>
                                <input onchange="readURL(this);" type="file" id="defendentfile" style="width:100%;" />
                                <input type="hidden" value="" id="defendentfile_old" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input id="defendentcivilcaseid" name="defendentcivilcaseid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                                <input id="defendentId" name="defendentId" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                                <label for="defendentName">@sambocappweb.Resources.Language.Name</label>
                                <input id="defendentName" name="defendentName" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                            <div class="form-group">
                                <label for="defendentSex">@sambocappweb.Resources.Language.Gender</label>
                                <select class="form-control input-sm" id="defendentSex">
                                    <option>ប្រុស</option>
                                    <option>ស្រី</option>
                                    <option>អត់</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="defendentAge">@sambocappweb.Resources.Language.Age</label>
                                <input id="defendentAge" name="defendentAge" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                            <div class="form-group">
                                <label for="defendentAddress">@sambocappweb.Resources.Language.Address</label>
                                <input id="defendentAddress" name="defendentAddress" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="defendentDob">@sambocappweb.Resources.Language.DateOfBirth</label>
                                <input id="defendentDob" name="defendentDob" placeholder="" type="date" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                            <div class="form-group">
                                <label for="defendentIdentityno">@sambocappweb.Resources.Language.Identity</label>
                                <input id="defendentIdentityno" name="defendentIdentityno" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                            <div class="form-group">
                                <label for="defendentPhone">@sambocappweb.Resources.Language.ContactPhone</label>
                                <input id="defendentPhone" name="defendentPhone" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" id="btnDefendentAction" onclick="DefendentAction()" class="btn btn-primary btn-block btn-sm">Save changes</button>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <table id="DefendentTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>@sambocappweb.Resources.Language.Id</th>
                                            <th>@sambocappweb.Resources.Language.Name</th>
                                            <th>@sambocappweb.Resources.Language.Gender</th>
                                            <th>@sambocappweb.Resources.Language.Age</th>
                                            <th>@sambocappweb.Resources.Language.Address</th>
                                            <th>@sambocappweb.Resources.Language.DateOfBirth</th>
                                            <th>@sambocappweb.Resources.Language.Identity</th>
                                            <th>@sambocappweb.Resources.Language.ContactPhone</th>
                                            <th>@sambocappweb.Resources.Language.Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

