﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="judgeModal" tabindex="-1" role="dialog" aria-labelledby="judgeModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.Judge</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <img class="center img-responsive img-thumbnail" id="judgePhoto" src="~/Images/no_image.png" />
                        </div>
                        <div class="form-group">
                            <label>Upload Photo</label>
                            <input onchange="readURLJudge(this);" type="file" id="judgefile" style="width:100%;" />
                            <input type="hidden" value="" id="judgefile_old" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input id="judgeId" name="judgeId" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="form-group">
                            <label for="judgeName">@sambocappweb.Resources.Language.Judge</label>
                            <input id="judgeName" name="judgeName" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>

                        <div class="form-group">
                            <label for="judgeSex">@sambocappweb.Resources.Language.Gender</label>
                            <select class="form-control input-sm" id="judgeSex">
                                <option>Male</option>
                                <option>Female</option>
                                <option>None</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="judgeAge">@sambocappweb.Resources.Language.Age</label>
                            <input id="judgeAge" name="judgeAge" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="judgeAddress">@sambocappweb.Resources.Language.Address</label>
                            <input id="judgeAddress" name="judgeAddress" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="judgeIdentityno">@sambocappweb.Resources.Language.Identity</label>
                            <input id="judgeIdentityno" name="judgeIdentityno" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="judgePhone">@sambocappweb.Resources.Language.ContactPhone</label>
                            <input id="judgePhone" name="judgePhone" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnJudgeAction" onclick="JudgeAction()" class="btn btn-primary btn-block btn-sm">Save changes</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table id="JudgeTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>@sambocappweb.Resources.Language.Id</th>
                                    <th>@sambocappweb.Resources.Language.Judge</th>
                                    <th>@sambocappweb.Resources.Language.Gender</th>
                                    <th>@sambocappweb.Resources.Language.Address</th>
                                    <th>@sambocappweb.Resources.Language.Identity</th>
                                    <th>@sambocappweb.Resources.Language.ContactPhone</th>
                                    <th>@sambocappweb.Resources.Language.Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


