﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="officerModal" tabindex="-1" role="dialog" aria-labelledby="officerModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.Officer</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <img class="center img-responsive img-thumbnail" id="officerPhoto" src="~/Images/no_image.png" />
                        </div>
                        <div class="form-group">
                            <label>Upload Photo</label>
                            <input onchange="readURLOfficer(this);" type="file" id="officerfile" style="width:100%;" />
                            <input type="hidden" value="" id="officerfile_old" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input id="officerId" name="officerId" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="form-group">
                            <label for="officerName">@sambocappweb.Resources.Language.Clerk</label>
                            <input id="officerName" name="officerName" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>

                        <div class="form-group">
                            <label for="officerSex">@sambocappweb.Resources.Language.Gender</label>
                            <select class="form-control input-sm" id="officerSex">
                                <option>Male</option>
                                <option>Female</option>
                                <option>None</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="officerAge">@sambocappweb.Resources.Language.Age</label>
                            <input id="officerAge" name="officerAge" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="officerAddress">@sambocappweb.Resources.Language.Address</label>
                            <input id="officerAddress" name="officerAddress" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="officerIdentityno">@sambocappweb.Resources.Language.Identity</label>
                            <input id="officerIdentityno" name="officerIdentityno" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="officerPhone">@sambocappweb.Resources.Language.ContactPhone</label>
                            <input id="officerPhone" name="officerPhone" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnOfficerAction" onclick="OfficerAction()" class="btn btn-primary btn-block btn-sm">Save changes</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table id="OfficerTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>@sambocappweb.Resources.Language.Id</th>
                                    <th>@sambocappweb.Resources.Language.Officer</th>
                                    <th>@sambocappweb.Resources.Language.Gender</th>
                                    <th>@sambocappweb.Resources.Language.Address</th>
                                    <th>@sambocappweb.Resources.Language.Identity</th>
                                    <th>@sambocappweb.Resources.Language.ContactPhone</th>
                                    <th>@sambocappweb.Resources.Language.Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




