﻿<form id="plaintiff" method="post" enctype="multipart/form-data">

    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="plaintiffModal" tabindex="-1" role="dialog" aria-labelledby="plaintiffModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div id="divLoadingModal"></div>
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                    <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.Plaintiff</b>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <img class="center img-responsive img-thumbnail" id="plaintiffPhoto" src="~/Images/no_image.png" />
                            </div>
                            <div class="form-group">
                                <label>Upload Photo</label>
                                <input onchange="readURLS(this);" type="file" id="plaintifffile" style="width:100%;" />
                                <input type="hidden" value="" id="plaintifffile_old" />
                            </div>
                            

                        </div>
                         <div class="col-md-4">
                             <div class="form-group">
                                 <input id="plaintiffcivilcaseid" name="plaintiffcivilcaseid" style="display: none;" disabled="disabled" type="text" value="" class="form-control" />
                                 <input id="plaintiffId" name="plaintiffId" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                                 <label for="plaintiffName">@sambocappweb.Resources.Language.Name</label>
                                 <input id="plaintiffName" name="plaintiffName" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                             </div>
                             <div class="form-group">
                                 <label for="plaintiffSex">@sambocappweb.Resources.Language.Gender</label>
                                 <select class="form-control input-sm" id="plaintiffSex">
                                     <option>ប្រុស</option>
                                     <option>ស្រី</option>
                                     <option>អត់</option>
                                 </select>
                             </div>
                             <div class="form-group">
                                 <label for="plaintiffAge">@sambocappweb.Resources.Language.Age</label>
                                 <input id="plaintiffAge" name="plaintiffAge" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                             </div>
                             <div class="form-group">
                                 <label for="plaintiffAddress">@sambocappweb.Resources.Language.Address</label>
                                 <input id="plaintiffAddress" name="plaintiffAddress" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                             </div>
                         </div>

                        <div class="col-md-4">
                            
                            <div class="form-group">
                                <label for="plaintiffDob">@sambocappweb.Resources.Language.DateOfBirth</label>
                                <input id="plaintiffDob" name="plaintiffDob" placeholder="" type="date" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                            <div class="form-group">
                                <label for="plaintiffIdentityno">@sambocappweb.Resources.Language.Identity</label>
                                <input id="plaintiffIdentityno" name="plaintiffIdentityno" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                            <div class="form-group">
                                <label for="plaintiffPhone">@sambocappweb.Resources.Language.ContactPhone</label>
                                <input id="plaintiffPhone" name="plaintiffPhone" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" id="btnPlaintiffAction" onclick="PlaintiffAction()" class="btn btn-primary btn-block btn-sm">Save changes</button>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <table id="PlaintiffTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>@sambocappweb.Resources.Language.Id</th>
                                            <th>@sambocappweb.Resources.Language.Name</th>
                                            <th>@sambocappweb.Resources.Language.Gender</th>
                                            <th>@sambocappweb.Resources.Language.Age</th>
                                            <th>@sambocappweb.Resources.Language.Address</th>
                                            <th>@sambocappweb.Resources.Language.DateOfBirth</th>
                                            <th>@sambocappweb.Resources.Language.Identity</th>
                                            <th>@sambocappweb.Resources.Language.ContactPhone</th>
                                            <th>@sambocappweb.Resources.Language.Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

