﻿@model sambocappweb.ViewModels.CivilCaseViewModel
@{
    ViewBag.Title = "Manage Civil Case";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="divLoadingModal"></div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h5 class="panel-title">@sambocappweb.Resources.Language.CaseManagement</h5>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">

                <button data-toggle="modal" data-target="#officeModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-list-alt"></span> @sambocappweb.Resources.Language.Office</button>
                <button data-toggle="modal" data-target="#casepositionModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-share"></span> @sambocappweb.Resources.Language.CasePosition</button>
                <button data-toggle="modal" data-target="#tribunalModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-list-alt"></span> @sambocappweb.Resources.Language.Tribunal</button>
                <button data-toggle="modal" data-target="#defendentModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-share"></span> @sambocappweb.Resources.Language.Defendent</button>
                <button data-toggle="modal" data-target="#plaintiffModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-briefcase"></span> @sambocappweb.Resources.Language.Plaintiff</button>
                <button data-toggle="modal" data-target="#lawyerModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-tasks"></span> @sambocappweb.Resources.Language.Lawyer</button>
                <button data-toggle="modal" data-target="#officerModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-briefcase"></span> @sambocappweb.Resources.Language.Officer</button>
                <button data-toggle="modal" data-target="#clerkModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-tasks"></span> @sambocappweb.Resources.Language.Clerk</button>
                <button data-toggle="modal" data-target="#judgeModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-new-window"></span> @sambocappweb.Resources.Language.Judge</button>
                <button data-toggle="modal" data-target="#lawrelateModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-blackboard"></span> @sambocappweb.Resources.Language.Lawrelate</button>
                <button data-toggle="modal" data-target="#customerModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-level-up"></span> @sambocappweb.Resources.Language.OurCustomer</button>
                <button data-toggle="modal" data-target="#casetypeModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.CaseType</button>
                <button data-toggle="modal" data-target="#caseModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-cog"></span> @sambocappweb.Resources.Language.Case</button>
                <button data-toggle="modal" data-target="#civilcaseModal" class="btn btn-success btn-sm pull-right" ​ style="margin-right:5px;"><span class="glyphicon glyphicon-share"></span> @sambocappweb.Resources.Language.NewCivilCase</button>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-12">
                <div id="overflowTable" style="overflow-x: auto;">
                    <table id="civilcaseTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                        <thead>
                            <tr>
                                <th>@sambocappweb.Resources.Language.Id</th>
                                <th>@sambocappweb.Resources.Language.Date</th>
                                <th>@sambocappweb.Resources.Language.Case</th>
                                <th>@sambocappweb.Resources.Language.CaseType</th>
                                <th>@sambocappweb.Resources.Language.Plaintiff</th>
                                <th>@sambocappweb.Resources.Language.Defendent</th>
                                <th>@sambocappweb.Resources.Language.OurCustomer</th>
                                @*<th>@sambocappweb.Resources.Language.Charges</th>
                                    <th>@sambocappweb.Resources.Language.Services</th>*@
                                <th>ភាគីដើមបណ្តឹង/ភាគីចុងបណ្តឹង</th>
                                <th>@sambocappweb.Resources.Language.Status</th>
                                <th>@sambocappweb.Resources.Language.Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Caseexpense")
@Html.Partial("_Civilcaseproceeding")
@Html.Partial("_CivilcaseTribunal")
@Html.Partial("_Tribunal")
@Html.Partial("_Civilcasepayment")
@Html.Partial("_Case")
@Html.Partial("_CaseType")
@Html.Partial("_Lawyer")
@Html.Partial("_Plaintiff")
@Html.Partial("_Defendent")
@Html.Partial("_CivilCase")
@Html.Partial("_Judge")
@Html.Partial("_Customer")
@Html.Partial("_Lawrelate")
@Html.Partial("_Office")
@Html.Partial("_CasePosition")
@Html.Partial("_Clerk")
@Html.Partial("_Officer")
@Html.Partial("_civilcaseproccedingtype")
@Html.Partial("_PaymentMethod")
@section scripts
{
    @Scripts.Render("~/Scripts/Functions/paymentmethod.js")
    @Scripts.Render("~/Scripts/Functions/tribunal.js")
    @Scripts.Render("~/Scripts/Functions/case.js")
    @Scripts.Render("~/Scripts/Functions/casetype.js")
    @Scripts.Render("~/Scripts/Functions/lawyer.js")
    @Scripts.Render("~/Scripts/Functions/plaintiff.js")
    @Scripts.Render("~/Scripts/Functions/defendent.js")
    @Scripts.Render("~/Scripts/Functions/civilcase.js")
    @Scripts.Render("~/Scripts/Functions/judge.js")
    @Scripts.Render("~/Scripts/Functions/customer.js")
    @Scripts.Render("~/Scripts/Functions/lawrelate.js")
    @Scripts.Render("~/Scripts/Functions/office.js")
    @Scripts.Render("~/Scripts/Functions/caseposition.js")
    @Scripts.Render("~/Scripts/Functions/clerk.js")
    @Scripts.Render("~/Scripts/Functions/officer.js")
    @Scripts.Render("~/Scripts/Functions/civilcaseproccedingtype.js")
}

