﻿@using sambocappweb.Resources
@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
<link href="~/Content/Layout/css/table.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <button type="button" class="btn btn-success btn-xs fa-pull-right" id="btnprivacy" data-toggle="modal" data-target="#ExchangeModel" style="margin-right:10px"><span class="glyphicon glyphicon-plus-sign"></span> Add Exchanges <span></span></button>

            <h5 class="modal-title">@sambocappweb.Resources.Language.Exchanges</h5>

        </div>
        <div class="panel-body" style="overflow-x:auto;">
            <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tblExchange">
                <thead>
                    <tr>
                        <th>@Language.Id</th>
                        <th>@Language.Date</th>
                        <th>@Language.CurrencyName</th>
                        <th>@Language.ShopNameExchang</th>
                        <th>@Language.Rate</th>
                        <th>@Language.Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


@Html.Partial("_Exchange")
@*@{
        Html.RenderAction("Exchange", "Exchanges");
    }*@

@section scripts{
    @Scripts.Render("~/Scripts/Functions/Exchange.js")
}
