﻿@model sambocappweb.ViewModels.JobViewModel

@{
    ViewBag.Title = "Monitoring";
}
<link href="~/Content/Layout/css/table.css" rel="stylesheet" />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h5 class="panel-title">@sambocappweb.Resources.Language.JobPerformance</h5>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="filterDepartmentDashboard" style="color: darkblue;"><span class="glyphicon glyphicon-filter"></span>@sambocappweb.Resources.Language.Department: </label>
                        <select class="form-control input-sm" id="filterDepartmentDashboard">
                            @foreach (var department in Model.Departments)
                            {
                                <option value=@department.Id>@department.Name</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-12">
                <div id="overflowTable" style="overflow-x: auto;">
                    <table id="performanceTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                        <thead>
                            <tr>
                                <th>@sambocappweb.Resources.Language.Officials</th>
                                <th>@sambocappweb.Resources.Language.TasksAreInProgress</th>
                                <th>@sambocappweb.Resources.Language.TasksAccomplishedOneMonth</th>
                                <th>@sambocappweb.Resources.Language.TasksAccomplishedThreeMonth</th>
                                <th>@sambocappweb.Resources.Language.TasksAccomplishedSixMonth</th>
                                <th>@sambocappweb.Resources.Language.TasksAccomplishedOneYear</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/Functions/dashboard.js")
}   