﻿
@using sambocappweb.Resources
<link href="~/Content/Layout/css/table.css" rel="stylesheet" />
<div class="modal fade" data-backdrop="static" data-keyboard="fale" id="OrderdetailFrm" tabindex="-1" role="dialog" aria-labelledby="OrderdetailFrm" aria-hidden="true" style="border-radius:5px">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="loadingGif"></div>
            <div class="modal-header" style="background-color:#0f6a00">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-label="Close">@Language.Close</button>
                <button type="button" class="btn btn-info btn-xs pull-right" id="btnbanner" data-toggle="modal" data-target="#OrderdetailModel" style="margin-right:10px"><span class="glyphicon glyphicon-plus-sign"></span>@sambocappweb.Resources.Language.Order</button>
            </div>

            <div class="form-group " style="display:none">
                <label for="id">@Language.Id</label>
                <input id="iddiatal" name="id" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
            </div>
            <div class="modal-body">
                <div id="loadingGif"></div>
                <div class="panel-body">

                    <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tblOrderdetail">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th >@Language.Orderdetails</th>
                                <th>@sambocappweb.Resources.Language.OrderDate</th>
                                <th>@sambocappweb.Resources.Language.ProductName</th>
                                <th>@sambocappweb.Resources.Language.Qty</th>
                                <th>@sambocappweb.Resources.Language.price</th>
                                <th>@sambocappweb.Resources.Language.Discount</th>
                                <th>@sambocappweb.Resources.Language.Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

