﻿@using sambocappweb.Resources

<div class="modal fade" data-backdrop="static" data-keyboard="fale" id="OrderdetailModel" tabindex="-1" role="dialog" aria-labelledby="OrderdetailModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-md">
            <div id="loadingGif"></div>
            <div class="modal-header">
                <button type="button" class="btn-danger btn-xs pull-right" onclick="ClearControl();" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">@Language.Orderdetails</b>
            </div>
            <div class="modal-body">
                <div class="row" style="background-color:#caffbe">
                    <div class="col-md-12">
                        <div class="form-group" style="display:none">
                            <div class="form-group " style="display:none">
                                <label for="id">@Language.Id</label>
                                <input id="id" name="id" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                            <label for="orderid">@Language.Order</label>
                            <input type="text" name="id" id="orderid2" class="form-control input-sm " value="" placeholder="" />
                            @*@Html.DropDownList("orderid", (IEnumerable<SelectListItem>)ViewBag.Orderidlist, "-- "+Language.select+" "+Language.Order+"---", new { @class = "form-control" })*@
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="orderproductid">@Language.ProductName</label>
                            @*<input id="orderproductid" name="orderproductid" placeholder="Please Input productid" type="text" value="" class="form-control" style="min-width: 100%" />*@
                            @Html.DropDownList("orderproductid", (IEnumerable<SelectListItem>)ViewBag.Orderlist, "-- " + Language.select + " " + Language.ProductName + "---", new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="orderqty">@Language.Qty</label>
                            <input id="orderqty" name="orderqty" placeholder="Please Input Qty" type="text" value="" class="form-control input-sm" style="min-width: 100%" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="orderprice">@Language.price</label>
                            <input id="orderprice" name="orderprice" placeholder="Please Input Price" type="text" value="" class="form-control input-sm" style="min-width: 100%" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="orderdiscount">@Language.Discount</label>
                            <input id="orderdiscount" name="orderdiscount" placeholder="Please Input discount (%)" type="text" value="" class="form-control input-sm" style="min-width: 100%" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                        </div>
                    </div>
                    @*<div class="col-md-12">
                            <div class="form-group">
                                <label for="orderdiscount">Status</label>
                                <select class="form-control input-sm" id="orderdiscount">
                                    <option value="true">10 %</option>
                                    <option value="false">20 %</option>
                                </select>
                            </div>

                        </div>*@
                </div>
                <hr />
                <div class="row">
                    <div class="co-md-12">
                        <div class="col-md-8">
                            <input type="hidden" id="txtbtnbanner" name="txtbtnbanner" value="Save" />
                            <button type="button" id="btnorderdetail" onclick="CreateOrderdetail();" class="btn btn-primary btn-block">@Language.Save</button>
                        </div>
                        <div class="col-md-4">
                            <button type="button"  onclick="ClearControl();" class="btn btn-warning btn-block">@Language.Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





