﻿
@using sambocappweb.Resources
<div class="modal fade" data-backdrop="static" data-keyboard="fale" id="OrderModal" tabindex="-1" role="dialog" aria-labelledby="OrderModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="loadingGif"></div>
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" onclick="Closebtn();" id="btnCloseOrder">x</button>
                @*<button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-label="Close">@Language.Close</button>*@
                <b class="modal-title" style="color:darkblue">@Language.Order</b>
            </div>
            <div class="modal-body" style="background-color:lightcyan">
                <div class="row">
                    <div class="col-md-6">
                        <input id="orderid" name="orderid" type="text" value="" class="form-control input-sm hidden" />
                        <div class="form-group ">
                            <label for="invoiceno">@Language.InvoiceNo</label>
                            <input id="invoiceno" name="invoiceno" type="text" value="@ViewBag.Count" class="form-control input-sm" placeholder="Enter Invoice No" />
                        </div>
                        <div class="form-group">
                            <label for="shopid">@Language.ShopName</label>
                            @Html.DropDownList("shopid", ViewBag.ShopList as SelectList, "Select a shop...", new { @class = "form-control input-sm" })
                        
                        </div>
                        <div class="form-group">
                            <label for="customerid">@Language.CustomerName</label>
                            @Html.DropDownList("customerid", ViewBag.CustomerList as SelectList, "Select a customer...", new { @class = "form-control input-sm" })
                        </div>

                        <div class="form-group">
                            <label for="phone">@Language.Phone</label>
                            <input id="phone" name="phone" type="text" value="" class="form-control input-sm" placeholder="Enter Phone Number" />
                        </div>
                        <div class="form-group">
                            <label for="bankname">@Language.BankName</label>
                            @*<select name="bankname" class="form-control input-sm" id="bankname">
                            <option value="ABA Bank">ABA Bank</option>
                            <option value="AClida Bank">AClida Bank</option>
                            <option value="Sthapana Bank">Sthapana Bank</option>
                            <option value="CAB Bank">CAB Bank</option>
                            <option value="Vatthanak Bank">Vatthanak Bank</option>
                            <option value="Canadia Bank">Canadia Bank</option>
                            </select>*@
                            @Html.DropDownList("bankname", ViewBag.PaymenttypeList as SelectList, new { @class = "form-control input-sm" })
                            
                        </div>
                        <div class="form-group">
                            <label for="accountnumber">@Language.AccountNumber</label>
                            <input id="accountnumber" name="accountnumber" type="text" value="" class="form-control input-sm" placeholder="Enter Account Number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                        </div>
                        <div class="form-group">
                            <label for="accountname">@Language.AccountName</label>
                            <input id="accountname" name="accountname" type="text" value="" class="form-control input-sm" placeholder="Enter Account Name" />
                        </div>
                        <div class="form-group">
                            <label for="currentlocation">@Language.CurrentLocation</label>
                            
                            @Html.DropDownList("currentlocation", ViewBag.CurrentlocationList as SelectList,"Select Location", new { @class = "form-control input-sm"})

                            @*<input id="currentlocation" name="currentlocation" type="text" value="" class="form-control input-sm" placeholder="Enter Current Location" />*@
                        </div>
                        <div class="form-group">
                            <label for="status">@Language.Status</label>
                            <select class="form-control input-sm" id="status">
                                @*<option>--Select Option--</option>*@
                                <option>Paid</option>
                                <option>Unpaid</option>
                            </select>
                            @* <input id="status" name="status" type="text" value="" class="form-control input-sm" placeholder="Enter Status" />*@
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" name="txtButtonOrder" id="txtButtonOrder" value="save" />
                                <button type="button" id="btnOrderSaveUpdate" onclick="SaveOrderAction();" class="btn btn-primary btn-block btn-sm"><span class="glyphicon glyphicon-floppy-save"></span> <span class="kh">រក្សាទុក</span> / Save</button>
                                <button type="button" id="btnOrderUpdadate" onclick="SaveOrderAction()" class="btn btn-primary btn-sm btn-block"><span class='glyphicon glyphicon-saved'></span> <span class='kh'>កែប្រែ</span> / Update</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="amounttobepaid">@Language.AmountTobePaid</label>
                            <input id="amounttobepaid" name="amounttobepaid" type="text" value="" class="form-control input-sm" placeholder="Enter Amount to be Paid" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                        </div>
                        <div class="row" id="exchangeid1">
                            <div class="col-md-12">
                                <div class="form-group" >
                                    <label for="exchangeid1">@Language.ExchangeId</label>
                                    <input id="exchangename" name="exchangeid" type="text" value="" class="form-control input-sm hidden" placeholder="Enter Exchange ID" />
                                    
                                    <input id="exchangename1" name="exchange" type="text" value="Enter Exchange Rate" class="form-control input-sm disabled" placeholder="Enter Exchange ID" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                                    @*@Html.DropDownList("exchangeid", ViewBag.ExchangeList as SelectList, "Select a exchange rate...", new { @class = "form-control input-sm" })*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="abc">@Language.DeliveryTypeIn</label>
                            @*<input id="abc" name="abc" type="text" value="" class="form-control input-sm" placeholder="Enter Delivery Type In" />*@
                            @Html.DropDownList("abc", ViewBag.DeliveryList as SelectList, "Select DeliveryTypeIn", new { @class = "form-control input-sm" })

                        </div>
                        <div class="form-group">
                            <label for="paymenttype">@Language.PaymentType</label>
                            @*<input id="paymenttype" name="paymenttype" type="text" value="" class="form-control input-sm" placeholder="Enter Payment Type" />*@
                            @Html.DropDownList("paymenttype", ViewBag.PaymenttypeList as SelectList, "Select PaymentType", new { @class = "form-control input-sm" })

                        </div>
                        <div class="form-group">
                            <label for="date">@Language.Date</label>
                            <input id="date" name="date" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control input-sm" placeholder="Choose Datetime" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="receiptupload">@Language.ReceiptUpload</label><span id="fileSize"></span>
                            <img class="center img-responsive img-thumbnail" id="receiptupload" src="~/Content/product.jpg" alt="Alternate Text" style="width:222px; height:222px;" />
                            <input class="btn btn-default btn-sm" onchange="readURL(this);" type="file" name="file" id="file" style="width: 100%;" />
                            <input type="hidden" value="" id="receip_old" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="receiptupload">@Language.QrcodeShopName</label><span id="fileSize"></span>
                            <img class="center img-responsive img-thumbnail" id="qrcodeimg" src="~/Content/product.jpg" alt="Alternate Text" style="width:222px; height:222px;" />
                            <input class="btn btn-default btn-sm" onchange="readURLQR(this);" type="file" id="qrcodeshopname" style="width:100%;" />
                            <input type="hidden" value="" id="qrcode_old" />
                        </div>

                    </div>
                    

                </div>
                
            </div>
        </div>
    </div>
</div>

