﻿@using sambocappweb.Resources
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="customerModal" aria-labelledby="customerModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" onclick="ClearControl();" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">Manage Customer</b>
            </div>
            <div class="modal-body" style="background-color:lightcyan">
                <div class="row">
                    <div class="col-md-8">
                        <div class="">
                            <div class="row">
                                <input type="text" name="id" id="customerID" hidden value="" />
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="date">Date</label>
                                        <input type="date" name="date" id="date" class="form-control input-sm" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="customerName">Customer Name</label>
                                        <input type="text" name="customerName" id="customerName" class="form-control input-sm" value="" placeholder="Customer Name" />
                                    </div>
                                    <div class="form-group">
                                        <label for="Gender">Gender</label>
                                        @*<input type="text" name="gender" id="gender" class="form-control input-sm" value="" />*@
                                        <select name="gender" class="form-control input-sm" id="gender">
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="text" name="phone" id="phone" class="form-control input-sm" value="" placeholder="Phone Number Only"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="tokenid">Token ID</label>
                                        @*<input type="text" name="tokenid" id="tokenid" class="form-control input-sm" value=""  disabled=""/>*@
                                        @*<input class="form-control input-sm" id="tokenid" type="text" />*@
                                        <input id="tokenid" name="tokenid" type="text" value="@ViewBag.Count" class="form-control input-sm" placeholder="" disabled=""/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="currentlocation">Current Location</label>
                                        
                                        @*@Html.DropDownList("currentlocation", ViewBag.CurrentlocationList as SelectList, "Select Location", new { @class = "form-control input-sm" })*@

                                        <input type="text" name="currentlocation" id="currentlocation" class="form-control input-sm" value="" placeholder="Current Location"/>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button class="btn btn-xs btn-primary form-control" onclick="CustomerAction();" id="btnSaveCustomer"><span class="glyphicon glyphicon-save"></span> Save</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @*<label>Image Profile</label>*@
                            <img class="center img-responsive img-thumbnail" id="customerPhoto" src="~/Images/company.png" alt="Alternate Text" />
                        </div>
                        <div class="form-group">
                            <label>Upload Photo</label>
                            <input onchange="readURLCustomer(this);" type="file" id="file" name="file" style="width:100%;" value="" />
                            <input type="hidden" value="" id="photo_old" />
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="ModalA" aria-labelledby="ModalA" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:rgba(238, 238, 238, 0.17)">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>

            </div>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btncloses" onclick="closefunctin();" class="btn btn-danger btn-xs pull-left">Close</button>
                    <input type="text" name="id" id="idPrivacy" value="" />
                    <input type="text" name="id" id="DescriptText" value="" />
                    <p id="DescriptText"></p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="privacyTable" class="" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="display:none">Id</th>
                                        <th>Description________________________________________________</th>
                                        <th>@Language.Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>