﻿@using sambocappweb.Resources
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Layout/css/table.css" rel="stylesheet" />
<script src="~/Content/Layout/css/js/cleave.js"></script>
<script src="~/Content/Layout/css/js/cleave-phone.i18n.js"></script>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <button type="button" onclick="AddnewAction();" class="btn btn-warning btn-xs pull-right" id="btCreateCustomer" data-toggle="modal" data-target="#customerModal"><span class="glyphicon glyphicon-plus-sign"></span> Add New Customer</button>

            <h5 class="modal-title">Manage Customer</h5>

        </div>
        <div class="panel-body" style="overflow-x:auto;">
            <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tblCustomer">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Token ID</th>
                        <th>Customer Name</th>
                        <th>Gender</th>
                        <th>Current Location</th>
                        <th>Phone</th>
                        <th>Date</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@Html.Partial("_Customer")

@section scripts{
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/Functions/customer.js")

}
<script>
   
    var cleave = new Cleave('#phone', {
        phone: true,
        phoneRegionCode: 'KH'
    });
    
</script>
