﻿
@using sambocappweb.Resources
<link href="~/Content/Layout/css/table.css" rel="stylesheet" />
<div class="modal fade" data-backdrop="static" data-keyboard="fale" id="Addmoreimages" tabindex="-1" role="dialog" aria-labelledby="Addmoreimages" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="loadingGif"></div>
            <div class="modal-header">
                @*<button type="button" class="btn btn-danger btn-xs pull-right" id="btnCloseCurrency">@Language.Close</button>*@
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-label="Close">@Language.Close</button>

                <b class="modal-title" style="color:darkblue">@Language.ProductImage</b>
            </div>
            <div class="modal-body">

                <div id="loadingGif"></div>
                <div class="row">

                    <div class="col-md-12">

                        <div class="form-group" style="display:none">
                            <input id="productimageid" name="AddImage" type="text" value="" class="form-control input-sm" placeholder="" />
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @*<label for="imagethumnail">@Language.ImageThumbnail</label><span id="fileSize"></span>*@
                                <img class="center img-responsive img-thumbnail" id="productAddIMG" src="~/Content/product.jpg" alt="Alternate Text" />
                                <input class="btn btn-default btn-sm" onchange="readURLP(this);" type="file" name="file" id="productimage" />
                                <input type="hidden" value="" id="file_old" />
                            </div>
                            <button type="button" id="btnuplaodimage" onclick="SaveProductimageAction();" class="btn btn-primary btn-block btn-sm"><span class="kh"></span>Save</button>
                        </div>
                        <div class="col-md-8">
                            <table class="table table-hover table-bordered scroll" id="uplaodimageTable" style="width:100%;font-size:12px;height:120px;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>@Language.Id</th>
                                        <th>@Language.ProductName</th>
                                        <th>@Language.ImageThumbnail</th>
                                        <th>@Language.Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="row">

                </div>

                <hr />

            </div>
        </div>
    </div>
</div>