﻿
@using sambocappweb.Resources
<div class="modal fade" data-backdrop="static" data-keyboard="fale" id="currencyModal" tabindex="-1" role="dialog" aria-labelledby="exchangeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="loadingGif"></div>
            <div class="modal-header">
                @*<button type="button" class="btn btn-danger btn-xs pull-right" id="btnCloseCurrency">@Language.Close</button>*@
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-label="Close">@Language.Close</button>
                <b class="modal-title" style="color:darkblue">@Language.Currency</b>
            </div>
            <div class="modal-body">
                <div id="loadingGif"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" hidden value="" />
                            <input id="currencyid" name="currencyid" type="text" value="" class="form-control input-sm hidden" />
                            <label for="currencyname">@Language.CurrencyName</label>
                            <input id="currencyname" name="currencyname" type="text" value="" class="form-control input-sm" placeholder="Enter Currency Name" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sign">@Language.Sign</label>
                            <input id="sign" name="sign" type="text" value="" class="form-control input-sm" placeholder="Enter Sign" />
                        </div>
                    </div>
                </div>             
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="statuss">@Language.Status</label>
                            @*<input id="statuss" name="statuss" type="text" value="" class="form-control input-sm" />*@
                            <select class="form-control input-sm" id="statuss">
                                <option>True</option>
                                <option>False</option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnCurrencySaveUpdate" onclick="SaveCurrencyAction();" class="btn btn-primary btn-block btn-sm"><span class="glyphicon glyphicon-floppy-save"></span> <span class="kh">រក្សាទុក</span> / Save</button>
                    </div>
                </div>
                <hr />
                <table class="table table-hover table-bordered" id="currencyTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>@Language.CurrencyName</th>
                            <th>@Language.Sign</th>
                            <th>@Language.Status</th>
                            <th>@Language.Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



