﻿@using sambocappweb.Resources

@model IEnumerable<sambocappweb.Models.Product>
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<link href="~/Content/Layout/css/table.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <button class="btn btn-success btn-xs pull-right" onclick="saveadd();" id="btnModalAdd" type="button" data-toggle="modal" data-target="#productModal" style='margin-right:5px'>
                <span class="glyphicon glyphicon-cog"></span>
                @Language.CreateNewProduct

            </button>
            <h5 class="modal-title">@sambocappweb.Resources.Language.Product</h5>

        </div>
        <div class="panel-body" style="overflow-x:auto;">
            <div class="row" style="display:none">
                <div class="col-md-12">
                    <div class="form-inline">


                        <button type="button" class="btn btn-info btn-xs pull-right" id="btn_Request" onclick="FilterRequest();"><span class="glyphicon glyphicon-question-sign  "></span> New Request</button>
                        <button type="button" class="btn btn-success btn-xs pull-right" id="btn_All" onclick="FilterAllData();" style="display:none"><span class="glyphicon glyphicon-question-sign  "></span>Show ALL Data</button>&nbsp;&nbsp;

                    </div>
                </div>

            </div>
            <div class="panel-body" style="overflow-x:auto;">
                <table class="table table-hover table-bordered" id="tableProducts" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@Language.Id</th>
                            <th >@Language.ShopName</th>
                            <th>ProductId</th>
                            <th>@Language.ProductName</th>
                            <th>@Language.Description</th>
                            <th>@Language.QtyInStock</th>
                            <th>@Language.price</th>
                            <th>@Language.CurrencyName</th>
                            @*<th>@Language.CutStockType</th>*@
                            <th>@Language.ExpiredDate</th>
                            @*<th>@Language.LinkVideo</th>*@
                            @*<th>@Language.ImageThumbnail</th>*@
                            <th>@Language.Status</th>
                            <th>@Language.Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_Product")
@Html.Partial("_AddMoreImages")

@section scripts
{
    @Scripts.Render("~/Scripts/Functions/product.js")
    @Scripts.Render("~/Scripts/Functions/ProductImage.js")
}
