﻿
@using sambocappweb.Resources
<div class="modal fade" data-backdrop="static" data-keyboard="fale" id="privacyModel" tabindex="-1" role="dialog" aria-labelledby="privacyModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="loadingGif"></div>
            <div class="modal-header">
                <button type="button" class="btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">Privacy</b>
                @*<p id="descriptiona"></p>*@
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" hidden value="" />
                            <input id="privacyid" name="privacyid" type="text" value="" class="form-control input-sm hidden" placeholder="Enter ID" />
                            <label for="privacydescription">@Language.Description</label>
                            <div class="col-lg-12">

                                <textarea class="form-control" rows="10" placeholder="Please Type Your Text Hear" id="privacydescription" style="resize:none"></textarea>
                            </div>

                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnPrivacy" onclick="PrivacyAction();" class="btn btn-primary btn-block btn-sm">@Language.AddNew</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: 'textarea#privacydescription'
    });
</script>
<link href="~/Content/Layout/css/Privacy.css" rel="stylesheet" />*@