﻿@model sambocappweb.ViewModels.BlogPostViewModel
@{
    ViewBag.Title = "Manage Website";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divLoadingModal"></div>

<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <h5 class="panel-title">@sambocappweb.Resources.Language.Announcement</h5>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <a style="margin-right: 5px;" target="_blank" class="btn btn-primary btn-sm" href="@Url.Action("Blog", "Home")"><span class="glyphicon glyphicon-globe"></span> @sambocappweb.Resources.Language.ViewWebsite</a>

                <button data-toggle="modal" data-target="#feedbackModal" class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-comment"></span> @sambocappweb.Resources.Language.Feedback</button>
                <a style="margin-right: 5px;" class="btn btn-primary btn-sm pull-right" href="@Url.Action("Index", "Announcements")"><span class="glyphicon glyphicon-bell"></span> @sambocappweb.Resources.Language.Announcement</a>
                <a style="margin-right: 5px;" class="btn btn-primary btn-sm pull-right" href="@Url.Action("Index", "Publications")"><span class="glyphicon glyphicon-folder-open"></span> @sambocappweb.Resources.Language.Publication</a>
                <button style="margin-right: 5px;" data-toggle="modal" data-target="#blogCategoryModal" class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-cog"></span> @sambocappweb.Resources.Language.PostCategory</button>
                <button style="margin-right: 5px;" data-toggle="modal" data-target="#blogPostModal" class="btn btn-primary btn-sm pull-right"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.NewPost</button>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-12">
                <div id="overflowTable" style="overflow-x: auto;">
                    <table id="blogPostsTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                        <thead>
                            <tr>
                                <th>@sambocappweb.Resources.Language.Id</th>
                                <th>@sambocappweb.Resources.Language.PostCategory</th>
                                <th>@sambocappweb.Resources.Language.PostTitle</th>
                                <th>@sambocappweb.Resources.Language.Author</th>
                                <th>@sambocappweb.Resources.Language.Date</th>
                                <th>@sambocappweb.Resources.Language.Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_BlogCategoryModal")
@Html.Partial("_BlogPostModal")
@Html.Partial("_FeedbackModal")
@Html.Partial("_Media")

@section scripts
{
    <script src="~/Scripts/Uploadifive/jquery.uploadifive.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Scripts/Uploadifive/uploadifive.css">
    <script src="~/Scripts/Tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        tinymce.init({
            selector: '#BlogContent,#BlogContentKhmer',
            content_css: 'Content/bootstrap-flatly.css',
            relative_urls: false,
            remove_script_host: false,
            convert_urls: true,
            width: '100%',
            height: 800,
            theme: 'modern',
            //plugins: [
            //  'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            //  'searchreplace wordcount visualblocks visualchars code fullscreen',
            //  'insertdatetime media nonbreaking save table contextmenu directionality',
            //  'emoticons template paste textcolor colorpicker textpattern imagetools'
            //],
            //toolbar1: 'undo redo | styleselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent',
            //toolbar2: 'responsivefilemanager | print preview media | forecolor backcolor emoticons | link image',
            //image_advtab: true,
            //image_caption: true,
            //external_filemanager_path: "/filemanager/",
            //filemanager_title: "File Manager",
            //external_plugins: { "filemanager": "/filemanager/plugin.min.js" },
            //visualblocks_default_state: true,
            //style_formats_autohide: true,
            //style_formats_merge: true,
            plugins: [
             "advlist autolink link image lists charmap print preview hr anchor pagebreak",
             "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
             "table contextmenu directionality emoticons paste textcolor code"
            ],
            toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
            toolbar2: "link unlink anchor | image media | forecolor backcolor  | print preview code | caption",
            image_caption: true,
            image_advtab: true,

            //external_filemanager_path: "/filemanager/",
            //filemanager_title: "Responsive Filemanager",
            //external_plugins: { "filemanager": "/filemanager/plugin.min.js" },
            //visualblocks_default_state: true,

            //style_formats_autohide: true,
            //style_formats_merge: true,
        });
    })

    $(document).on('focusin', function (e) {
        var target = $(e.target);
        if (target.closest(".mce-window").length || target.closest(".tox-dialog").length) {
            e.stopImmediatePropagation();
            target = null;
        }
    });

    $(function () {
        $('#file_upload').uploadifive({
            'swf': '/Scripts/Uploadifive/uploadifive.swf',
            'uploadScript': "@Url.Action("Upload", "BlogPosts")",
            'cancelImg': "@Url.Content("/Scripts/Uploadify/uploadify-cancel.png")",
            //'fileSizeLimit': '', // Add Kb, MB, GB
            'buttonText': 'Upload',
            'onProgress': function (file, e) {
                if (e.lengthComputable) {
                    var percent = Math.round((e.loaded / e.total) * 100);
                }
                file.queueItem.find('.fileinfo').html(' - ' + percent + '%');
                file.queueItem.find('.progress-bar').css('width', percent + '%');
                $('#uploadifive-file_upload-queue').delay(4000).fadeOut('slow');
            },
            'dnd': true,
            'auto': true,
            'multi': true,
            'queueSizeLimit': 20,
            'fileTypeDesc': 'Image Files',
            'fileTypeExts': '*.gif; *.jpg; *.png',
            'onUploadComplete': function (file, data) {
                onGetUrl(data);
                getImages();
            }
        });
    });

    $(function () {
        $('#thumbnail_upload').uploadifive({
            'swf': '/Scripts/Uploadifive/uploadifive.swf',
            'uploadScript': "@Url.Action("Upload", "BlogPosts")",
            'cancelImg': "@Url.Content("/Scripts/Uploadify/uploadify-cancel.png")",
                //'fileSizeLimit': '1MB', // Add Kb, MB, GB
                'buttonText': 'Upload',
                'onProgress': function (file, e) {
                    if (e.lengthComputable) {
                        var percent = Math.round((e.loaded / e.total) * 100);
                    }
                    file.queueItem.find('.fileinfo').html(' - ' + percent + '%');
                    file.queueItem.find('.progress-bar').css('width', percent + '%');
                    $('#uploadifive-thumbnail_upload-queue').delay(4000).fadeOut('slow');
                },
                'dnd': true,
                'auto': true,
                'queueSizeLimit': 10, 
                'fileTypeDesc': 'Image Files',
                'fileTypeExts': '*.gif; *.jpg; *.png', 
                'onUploadComplete': function (file, data) {
                    var img = "<img src='" + data + "' height='100' alt='Uploaded Image' class='img-responsive' />";
                    $('#postThumbnail').text('');
                    $(img).prependTo('#postThumbnail');
                    $('#postThumbnailName').val(data.slice(9));
                }
            });
        });

        $('#blogMedia').on('shown.bs.modal', function () {
            getImages();
        });

        $('#blogMedia').on('show.bs.modal', function () {
            $('#imgInsert').empty();
        });

        function getImages() {
            $.ajax({
                url: '@Url.Action("filesinfolder", "BlogPosts")',
                dataType: "json",
                success: function (data) {
                    $('#imgList').empty();
                    $.each(data, function (index, item) {
                        $('#imgList').append($('<img id="imgUrl" onclick="onGetUrl(\'' + item + '\');" src="' + item + '" alt="" />'));
                    });
                }
            });
        }

        function onGetUrl(url) {
            var elem = document.createElement("img");
            elem.setAttribute("id", "selectedImg");
            elem.setAttribute("onClick", "removeImg();");
            elem.setAttribute("src", url);
            elem.setAttribute("height", "90");
            elem.setAttribute("width", "138");
            elem.setAttribute("alt", "");
            document.getElementById("imgInsert").appendChild(elem);
        }

        function InsertImage() {
            if ($('#imgInsert').children().length > 0) {
                $('#imgInsert img').each(function () {
                    tinyMCE.get("BlogContent").execCommand('mceInsertContent', false, "<img id='imgContent' src='" + $(this).attr('src') + "' width='100%' alt=''/>");
                    tinyMCE.get("BlogContentKhmer").execCommand('mceInsertContent', false, "<img id='imgContent' src='" + $(this).attr('src') + "' width='100%' alt=''/>");
                })
            }
            else
            {
                toastr.info("Please select an image.", "Action Required");
            }
        }

        function removeImg() {
            $("#selectedImg").remove();
        }

    </script>
    @Scripts.Render("~/Scripts/Functions/blogcategory.js")
    @Scripts.Render("~/Scripts/Functions/blogpost.js")
    @Scripts.Render("~/Scripts/Functions/feedback.js")
}   