﻿@*@model sambocappweb.ViewModels.ContractViewModel*@

@{
    ViewBag.Title = "Manage Transfer Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divLoadingModal"></div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h5 class="panel-title">@sambocappweb.Resources.Language.TransferInfo</h5>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">

                <button onclick="TransferAction" data-toggle="modal" data-target="#transferModel" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-cog"></span> @sambocappweb.Resources.Language.TransferInfo</button>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-12">
                <div id="overflowTable" style="overflow-x: auto;">
                    <table id="transferTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                        <thead>
                            <tr>
                                <td>@sambocappweb.Resources.Language.Id</td>
                                <td>@sambocappweb.Resources.Language.TransferDate</td>
                                <td>@sambocappweb.Resources.Language.Transferfrom</td>
                                <td>@sambocappweb.Resources.Language.Transferto</td>
                                <td>@sambocappweb.Resources.Language.Transferamount</td>
                                <td>@sambocappweb.Resources.Language.Action</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Transfer")


@section scripts
{
    @Scripts.Render("~/Scripts/Functions/transfer.js")
    @Scripts.Render("~/Scripts/moment.min.js")
}

