﻿
@using ReportViewerForMvc;
@{
    ViewBag.Title = "_bannerrpt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-12 form-group">
            <label for="">ថ្ងៃចាប់ផ្តើម</label>
            <input type="date" class="form-control" placeholder="Select Start Date" id="dateStart">
        </div>
        <div class="col-md-3 col-12 form-group">
            <label for="">រហូតដល់ថ្ងៃ</label>
            <input type="date" class="form-control" placeholder="Select End Date" id="dateEnd">
        </div>
        <div class="col-md-3 col-12 form-group">
            <label for="status">ស្ថានភាព</label>
            <select name="status" class="form-control input-sm" id="status">
                <option>---All Status----</option>
                <option value="Active">Active</option>
                <option value="InActive">Inactive</option>
            </select>
        </div>
        <div class="col-md-3 col-12 form-group">
            <label for="">បង្ហាញ</label>
            <button type="button" class="form-control btn btn-primary" id="btnPrint" onclick="printShopDetail();">Preview</button>
        </div>
        <div class="col-md-12">
            @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { @style = "width: 100%; height: 95%" })
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $('#status').on('change', function () {
                var sta = this.value;
                if (sta == "---All Status----") {
                    printBYSta();
                } else {
                    printBYSta(sta);
                }
            })
        });
        function printAll() {
            window.open("/banner-list", "_self")
        }
        function printBYSta() {
            var status = $("#status").val();
            var enddate = $("#dateEnd").val();
            var status = $("#status").val();
            window.open("/banner-list/" + startdate + "/" + enddate + "/" + status, "_self")
        }
       //
      function printShopDetail(){
          var startdate=$("#dateStart").val();
          var enddate = $("#dateEnd").val();
          var status = $("#status").val();
          if (startdate == "") {
              toastr.error("Please Select Start Date");
              $("#dateStart").focus();
          } else if (enddate == "") {
              toastr.error("Please Select End Date");
              $("#dateEnd").focus();
          } else {
              window.open("/banner-list/" + startdate + "/" + enddate , "_self")
          }
          if (status == "---All Status----") {
              printAll();
          }
       }
    </script>
}

