﻿@using Microsoft.AspNet.Identity
@model sambocappweb.Models.ManageUserViewModel

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(m => m.OldPassword)
        </div>
        <div class="col-md-12">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(m => m.NewPassword)
        </div>
        <div class="col-md-12">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(m => m.ConfirmPassword)
        </div>
        <div class="col-md-12">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" value="Change password" class="btn btn-primary btn-block" />
        </div>
    </div>
}
