﻿
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>The reset password link has been sent to your email!</strong> please open your email's inbox and click on the link to enter your new password. 
</div>