﻿@using sambocappweb.Models
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<link href="~/Content/Layout/css/login.css" rel="stylesheet" />
<div class="row" style="margin:auto">
    <div class="col-md-12">

    </div>
    <div class="col-md-3">

    </div>
    
    <div class="col-md-6">
        <div class="row">
        <div class="col-md-2"></div>
            <div class="col-md-8" id="bodylog">
                <h2 class="panel-title text-center header">@sambocappweb.Resources.Language.LoginTosambocappwebSystem</h2>
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="loginEmail">@sambocappweb.Resources.Language.Email</label>
                            </div>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control ", @placeholder = "Enter your email", @id = "loginEmail" })
                            </div>
                            <p id="listusernamesearch"></p>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="loginPassword">@sambocappweb.Resources.Language.Password</label>
                            </div>
                            <div class="col-md-12">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control ", @placeholder = "Enter your password", @id = "loginPassword" })
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="row" style="margin:0 ">
                                <div class="col-md-12">
                                    <input type="submit" value="@sambocappweb.Resources.Language.Login" class="btn btn-info btn-block" />
                                </div>

                                <div class="col-md-0">

                                </div>
                            </div>
                            </div><hr />
                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    @*@Html.ActionLink(@sambocappweb.Resources.Language.ForgotPassword, "ForgotPassword")*@
                                    <button type="button" class="btn btn-info btn-sm " id="btnforgotpassword" onclick="ForgotPassword();"><span class="forgetpassword"></span>@sambocappweb.Resources.Language.ForgotPassword</button>
                                </div>
                                <br />
                                <br />
                            </div>

                            @Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger", @style = "color: #ffffff" })
                            }
                            <div class="version">
                                <span>Version: 0.0.0.1</span><br />
                                <p><span>Released Date: </span> <span>@DateTime.Now.ToString("dd'-'MM'-'yyyy") </span></p><br />
                                <span>&copy; @sambocappweb.Resources.Language.systemapp,All rithgs reserved </span><br />
                            </div>
                    </section>

                </div>
            </div>
        <div class="col-md-2"></div>
        </div>
    </div>
    <div class="col-md-3">

    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function ForgotPassword() {
        window.location.href = "@Url.Action("ForgotPassword", "Account")"
    }
</script>
