﻿@using sambocappweb.Models;
@using Microsoft.AspNet.Identity;
@model sambocappweb.Models.ManageUserViewModel

@{
    ViewBag.Title = "Manage Account";
}

<div class="row">
    <div class="col-md-4 col-lg-offset-4">
        <div id="registerPanel" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Change Password (@User.Identity.GetUserName())</h3>
            </div>
            <div class="panel-body">
                @if (ViewBag.HasLocalPassword)
                {
                    @Html.Partial("_ChangePasswordPartial")
                }
                else
                {
                    @Html.Partial("_SetPasswordPartial")
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
