﻿@model sambocappweb.Models.ResetPasswordViewModel
@using sambocappweb.Resources
@{
    ViewBag.Title = "Reset your password";
}

<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div id="registerPanel" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Reset your password</h3>
                <div class="modal-header clearfix">
                    <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @Language.Close</button>
                </div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Code)
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-primary btn-block" value="Reset" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
