﻿

<div class="modal fade" id="shipPaymentModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">ការចំណាយ</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" id="ownershipid" hidden name="ownershipid" value="" />
                                <input type="text" id="ID" name="name" hidden value="" />
                                <div class="form-group">
                                    <label for="datePay">កាលបរិច្ឆេទ</label>
                                    <input type="date" name="datePay" id="datePay" value="" class="form-control input-sm" placeholder="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="amount">ចំនួន</label>
                                    <input type="number" name="amount" id="amount" value="" class="form-control input-sm" placeholder="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="notePay">រៀបរាប់</label>
                                    <textarea type="text" name="notePay" id="notePay" rows="4" style="min-width:100%; max-width:100%" value="" class="form-control input-sm" placeholder="Enter Note"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" id="btnShipPayment" class="btn btn-primary btn-sm btn-block" onclick="ShipPaymentAction();">Add New</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" style="margin-top:10px">
                    <div class="col-md-12">
                        <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="shipPaymenttbl">
                            <thead>
                                <tr>
                                    <th>ល.រ</th>
                                    <th>កាលបរិច្ឆេទ</th>
                                    <th>ចំនួន</th>
                                    <th>រៀបរាប់</th>
                                    <th>សកម្មភាព</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




