﻿

<div class="modal fade" id="shipDetailModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">ឯកសារ</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" id="ownership_id" hidden name="ownership_id" value="" />
                                <input type="text" id="ID" name="name" hidden value="" />
                                <div class="form-group">
                                    <label for="detailtype">ប្រភេទឯកសារ</label>
                                    <input type="text" name="detailtype" id="detailtype" value="" class="form-control input-sm" placeholder="Input Detail Type" />
                                </div>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="noteDetail">រៀបរាប់</label>
                                    <textarea type="text" name="noteDetail" id="noteDetail" rows="2" style="min-width:100%; max-width:100%" value="" class="form-control input-sm" placeholder="Enter Note"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="myfile">Select a file:</label>
                                    <input type="file" id="myfile" name="myfile" style="width:100%;"/>
                                    <label id="myfile1"></label>
                                    <input type="hidden" value="" id="file_old" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" id="btnShipDetail" class="btn btn-primary btn-sm btn-block" onclick="ShipDetailAction();">Add New</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" style="margin-top:10px">
                    <div class="col-md-12">
                        <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="shipDetailtbl">
                            <thead>
                                <tr>
                                    <th>ល.រ</th>
                                    <th>ប្រភេទឯកសារ</th>
                                    <th>រៀបរាប់</th>
                                    <th>សកម្មភាព</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>





