﻿







<div class="modal fade" data-backdrop="static" data-keyboard="fale" id="transferModel" tabindex="-1" role="dialog" aria-labelledby="transferModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="loadingGif"></div>
            <div class="modal-header">
                <button type="button" class="btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">@sambocappweb.Resources.Language.TransferInfo</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input id="civilCasePayid" name="civilCasePayid" type="text" value="" class="form-control input-sm hidden" />
                            <label for="paydate">@sambocappweb.Resources.Language.Date</label>
                            <input id="paydate" name="paydate" type="date" value="" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="paidAmount">@sambocappweb.Resources.Language.PaidAmount</label>
                            <input id="paidAmount" name="paidAmount" type="number" value="" class="form-control input-sm" />

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnCivilCasePay" onclick="CivilCasePayAction();" class="btn btn-primary btn-block btn-sm">Add New</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div id="overflowTable" style="overflow-x: auto;">
                            <table id="civilCasePayTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <td>@sambocappweb.Resources.Language.Id</td>
                                        <td>@sambocappweb.Resources.Language.Date</td>
                                        <td>@sambocappweb.Resources.Language.PaidAmount</td>
                                        <td>@sambocappweb.Resources.Language.Action</td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




