﻿@*@model sambocappweb.ViewModels.ContractViewModel*@

@{
    ViewBag.Title = "Manage ViewPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divLoadingModal"></div>


<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h5 class="modal-title pull-left">View Payment</h5>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">


                    @*<button onclick="TransferAction" data-toggle="modal" data-target="#transferModel" style="margin-left:5px" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-cog"></span> CivilCasePayment</button>*@
                    <button type="button" name="btnPaid" id="btnPaid" onclick="PaidAction();" style="margin-left:5px" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-cog"></span> បានបង់រួច</button>
                    <button type="button" name="btnUnpaid" id="btnUnpaid" onclick="UnpaidAction();" style="margin-left:5px" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-cog"></span> មិនទាន់បង់</button>
                    <button type="button" name="btnViewAll" id="btnViewAll" onclick="ViewAllAction();" style="margin-left:5px" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-cog"></span> មើលទាំងអស់</button>


                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-md-12">
                    <div id="overflowTable" style="overflow-x: auto;">
                        <table id="viewPaymentTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <td>@sambocappweb.Resources.Language.Id</td>
                                    <td>@sambocappweb.Resources.Language.Customer</td>
                                    <td>@sambocappweb.Resources.Language.ContactPhone</td>
                                    <td>@sambocappweb.Resources.Language.Charges</td>
                                    <td>@sambocappweb.Resources.Language.Services</td>
                                    <td>@sambocappweb.Resources.Language.PaidAmount</td>
                                    @*<td>@sambocappweb.Resources.Language.Action</td>*@
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@Html.Partial("_CivilcasePay")


@section scripts
{
    @Scripts.Render("~/Scripts/Functions/viewPayment.js")
    @Scripts.Render("~/Scripts/Functions/casePay.js")
    @Scripts.Render("~/Scripts/moment.min.js")
}
