﻿<div class="modal fade" data-backdrop="static" data-keyboard="fale" id="privacyModel" tabindex="-1" role="dialog" aria-labelledby="privacyModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="loadingGif"></div>
            <div class="modal-header">
                <button type="button" class="btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">Privacy</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" hidden value="" />
                            <input id="privacyid" name="privacyid" type="text" value="" class="form-control input-sm hidden" placeholder="Enter ID" />
                            <label for="privacydescription">សេចក្តីពណ៌នា</label>
                            <input id="privacydescription" name="privacydescription" type="text" value="" class="form-control input-sm" placeholder="Enter Category Name" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnPrivacy" onclick="PrivacyAction();" class="btn btn-primary btn-block btn-sm">Add New</button>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <table id="privacyTable" class="table-hover table-bordered table-condensed table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    @*<td>Id</td>*@
                                    <td>សេចក្តីពណ៌នា</td>
                                    <td>សកម្មភាព</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>




