﻿<div class="modal fade" data-backdrop="static" data-keyboard="fale" id="subexpensetypeModel" tabindex="-1" role="dialog" aria-labelledby="subexpensetypeModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="loadingGif"></div>
            <div class="modal-header">
                <button type="button" class="btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">គ្រប់គ្រងប្រភេទចំណាយលំអិត</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" hidden value="" />
                            <input id="subidtype" name="subidtype" type="text" value="" class="form-control input-sm hidden" placeholder="Enter ID" />
                            <label for="subexpensetypeid">ចំណាយលំអិត</label>
                            <select class="form-control input-sm" id="subexpensetypeid">
                                @foreach (var pos in Model.ExpenseTypes)
                                {
                                    <option value=@pos.id>@pos.typename</option>
                                }
                            </select>
                            </div>
                        <div class="form-group">
                            <label for="subtypename">Sub ប្រភេទចំណាយ</label>
                            <input id="subtypename" name="subtypename" type="text" value="" class="form-control input-sm" placeholder="Enter Category Name" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnsubExpenseType" onclick="SubExpenseTypeAction();" class="btn btn-primary btn-block btn-sm">Add New</button>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <table id="subexpensetypeTable" class="table-hover table-bordered table-condensed table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    @*<td>Id</td>*@
                                    <td>ប្រភេទ</td>
                                    <td>ចំណាយលំអិត</td>
                                    <td>សកម្មភាព</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>




