﻿
@{
    ViewBag.Title = "Manage Income";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="loadingGif"></div>

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <button class="btn-success btn-xs pull-right" type="button" data-toggle="modal" data-target="#incometypeModel" style="margin-right:5px;"><span class="glyphicon glyphicon-cog"></span> ប្រភេទចំណូល</button>
            <button class="btn-success btn-xs pull-right" type="button" data-toggle="modal" data-target="#subincometypeModel" style="margin-right:5px;"><span class="glyphicon glyphicon-cog"></span> ចំណូលលំអិត</button>
            <button onclick="ClickAddnewIncome()" class="btn-success btn-xs pull-right" type="button" data-toggle="modal" data-target="#incomeModel" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> បង្កើតចំណូលថ្មី</button>
            <h5 class="modal-title">Manage Income</h5>
        </div>
        <div class="panel-body">
            @*<div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <label for="displayshowroom">ជ្រើសរើសសាខា:</label>
                        <select class="form-control" id="displayshowroom">
                            <option>---Select Showroom----</option>
                            @foreach (var depart in Model.Showrooms)
                            {
                                <option value="@depart.id">@depart.name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>*@

            <div class="row" style="overflow:auto">
                <div class="col-md-12">
                    <table id="tableIncome" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>លេខរៀង</th>
                                <th>ថ្ងៃខែ</th>
                                <th>ចំនួនប្រាក់</th>
                                <th>ប្រភេទសាច់ប្រាក់</th>
                                <td>បរិយាយ</td>
                                <th>ប្រភេទចំណូល</th>
                                <th>ចំណូលលំអិត</th>
                                <th>សកម្មភាព</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        

    </div>
</div>



@Html.Partial("_IncomeType")
@Html.Partial("_SubIncomeType")
@Html.Partial("_Income")
@section scripts
{
    @Scripts.Render("~/Scripts/Functions/subincometype.js")
    @Scripts.Render("~/Scripts/Functions/incometype.js")
    @Scripts.Render("~/Scripts/Functions/income.js")
    @Scripts.Render("~/Scripts/moment.min.js")
}
