﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="ContractProceedingModal" style="z-index:1049 !important;" tabindex="-1" role="dialog" aria-labelledby="ContractProceedingModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                <b class="modal-title" style="color: darkblue;">Contract Proceeding</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    
                    <div class="row">
                        <input id="ContractProceedingid" name="ContractProceedingid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="contractproceedingdate">@sambocappweb.Resources.Language.Date</label>
                                <input id="contractproceedingdate" name="contractproceedingdate" placeholder="" type="date" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="contractid">@sambocappweb.Resources.Language.Contract</label>
                                <select class="form-control input-sm" id="contractid">
                                    @foreach (var civilcase in Model.Contracts)
                                    {
                                        <option value=@civilcase.id>@civilcase.contractid</option>
                                    }
                                </select>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="conplawyerid">@sambocappweb.Resources.Language.LawyerName</label>
                                <select class="form-control input-sm" id="conplawyerid">
                                    @foreach (var civilcase in Model.Lawyers)
                                    {
                                        <option value=@civilcase.Id>@civilcase.name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="conproccedingtypeid">ដំណើរការកិច្ចសន្យា</label>
                                <select class="form-control input-sm" id="conproccedingtypeid">
                                    @foreach (var civilcase in Model.CaseproccedingTypes)
                                    {
                                        <option value=@civilcase.id>@civilcase.caseproccedingtype</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#caseproccedingtypeModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnContractProceedingAction" onclick="ContractProceedingidAction()" class="btn btn-primary btn-block btn-sm">Save changes</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table id="contractproceedingTable" class="table-hover table-bordered table-condensed table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@sambocappweb.Resources.Language.Id</th>
                                    <th>@sambocappweb.Resources.Language.Date</th>
                                    @*<th>@sambocappweb.Resources.Language.CivilCase</th>*@
                                    <th>@sambocappweb.Resources.Language.LawyerName</th>
                                    <th>@sambocappweb.Resources.Language.Description</th>
                                    <th>@sambocappweb.Resources.Language.Action</th>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




