﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="ContractPaymentModal" style="z-index:1049 !important;" tabindex="-1" role="dialog" aria-labelledby="ContractPaymentModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                <b class="modal-title" style="color: darkblue;">Contract Payment</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="form-group">
                            @* <label for="contractid">@sambocappweb.Resources.Language.Contract</label>*@
                            <select class="form-control input-sm hidden" id="contractid">
                                @foreach (var civilcase in Model.Contracts)
                                {
                                    <option value=@civilcase.id>@civilcase.contractid</option>
                                }
                            </select>
                        </div>
                        <div class="row">
                            <input id="contractpaymentid" name="contractpaymentid" placeholder="Paid Ammount" type="text" value="" class="form-control input-sm hidden" style="min-width: 100%" />

                            <input id="ContractPayid" name="ContractPayid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contractDatedate">@sambocappweb.Resources.Language.Date</label>
                                    <input id="contractDatedate" name="contractDatedate" placeholder="" type="date" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="paidAmount">@sambocappweb.Resources.Language.PaidAmount</label>
                                    <input id="paidAmount" name="paidAmount" placeholder="Paid Ammount" type="text" value="" class="form-control input-sm" style="min-width: 100%" />

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <label for="paymentmethodC">@sambocappweb.Resources.Language.PaymentMethod</label>
                                    <select id="paymentmethodC" class="form-control input-sm">
                                        @foreach (var paymentMethod in Model.PaymentMethods)
                                        {
                                            <option value=@paymentMethod.id>@paymentMethod.paymentmethodname</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="a">&nbsp;</label>
                                    <button data-toggle="modal" data-target="#PaymentMethodModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="cpnote">@sambocappweb.Resources.Language.Note</label>
                                    @*<input id="cpnote" name="cpnote" placeholder="" type="text" value="" class="form-control" style="min-width: 100%" />*@
                                    <textarea id="cpnote" name="cpnote" placeholder="" type="text" value="" class="form-control" style="min-width: 100%"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btncontractPayAction" onclick="contractPayAction()" class="btn btn-primary btn-block btn-sm">Save changes</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table id="contractPayTable" class="table-hover table-bordered table-condensed table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@sambocappweb.Resources.Language.Id</th>
                                    <th>@sambocappweb.Resources.Language.Date</th>
                                    <th>@sambocappweb.Resources.Language.PaidAmount</th>
                                    <th>@sambocappweb.Resources.Language.Note</th>
                                    <th>@sambocappweb.Resources.Language.PaymentMethod</th>
                                    <th>@sambocappweb.Resources.Language.Action</th>
</thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



