﻿
<form id="contractForm" method="post" enctype="multipart/form-data">
    <div class="modal fade" data-backdrop="static" style="z-index:1041 !important; " data-keyboard="false" id="contractModal" tabindex="-1" role="dialog" aria-labelledby="contractModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div id="divLoadingModal"></div>
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                    <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.Contract</b>
                </div>

                <div class="modal-body">
                    <div class="row">
                        
                        @*<label for="zcontractno">Contract No</label>*@
                        <input type="text" id="zcontractno" class="form-control input-sm hidden" placeholder="Contract No" name="zcontractno" value="" />
                           
                    </div>
                    <div class="row">
                        <input id="zcontractid" name="zcontractid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <input id="zidno" name="zidno" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="zdisputeid">@sambocappweb.Resources.Language.Dispute</label>
                                <select id="zdisputeid" class="form-control input-sm">
                                    @foreach (var contract in Model.disputes)
                                    {
                                        <option value=@contract.id>@contract.deputenNme</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#DisputeModal" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="zofficeid">@sambocappweb.Resources.Language.OfficeCode</label>
                                <select class="form-control input-sm" id="zofficeid">
                                    @foreach (var contract in Model.offices)
                                    {
                                        <option value=@contract.id>@contract.officename</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#officeModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-list-alt"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="llawrelateid">@sambocappweb.Resources.Language.Lawrelate</label>
                                <select id="llawrelateid" class="form-control input-sm">
                                    @foreach (var contract in Model.lawrelates)
                                    {
                                        <option value=@contract.id>@contract.lawrelatename</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#lawrelateModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="zcontractdate">@sambocappweb.Resources.Language.Date</label>
                                <input id="zcontractdate" name="zcontractdate" type="date" value="" class="form-control input-sm" placeholder="Enter contract Date" />
                            </div>
                        </div>
                        

                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="zsellerid">@sambocappweb.Resources.Language.Sellter</label>
                                <select id="zsellerid" class="form-control input-sm">
                                    @foreach (var contract in Model.sellers)
                                    {
                                        <option value=@contract.Id>@contract.sellerName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#SellerModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="zbuyerid">@sambocappweb.Resources.Language.Buyer</label>
                                <select id="zbuyerid" class="form-control input-sm">
                                    @foreach (var contract in Model.buyers)
                                    {
                                        <option value=@contract.Id>@contract.buyerName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#BuyerModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="llawyerid">@sambocappweb.Resources.Language.Lawyer</label>
                                <select id="llawyerid" class="form-control input-sm">
                                    @foreach (var contract in Model.lawyer)
                                    {
                                        <option value=@contract.Id>@contract.name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#lawyerModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="ccustomerid">@sambocappweb.Resources.Language.OurCustomer</label>
                                <select id="ccustomerid" class="form-control input-sm">
                                    @foreach (var contract in Model.customers)
                                    {
                                        <option value=@contract.id>@contract.customername</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#ContractCustomerModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="zcontractpositionid">@sambocappweb.Resources.Language.ContractPosition</label>
                                <select id="zcontractpositionid" class="form-control input-sm">
                                    @foreach (var contract in Model.contractPositions)
                                    {
                                        <option value=@contract.id>@contract.name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="a">&nbsp;</label>
                                <button data-toggle="modal" data-target="#ContractPositionModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-share"></span> @sambocappweb.Resources.Language.New</button>
                            </div>
                        </div>

                        

                    </div>

                    <hr />
                    <label>ការអនុវត្តន៍កិច្ចសន្យា</label>
                    <hr />
                    <br />
                    <div class="row">

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="zservices">@sambocappweb.Resources.Language.Services</label>
                                <input id="zservices" name="zservices" type="number" value="" class="form-control input-sm" placeholder="Enter Services" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="zcharges">@sambocappweb.Resources.Language.Charges</label>
                                <input id="zcharges" name="zcharges" type="number" value="" class="form-control input-sm" placeholder="Enter Charges" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="zcontractstatus">@sambocappweb.Resources.Language.ContractStatus</label>
                                <select class="form-control input-sm" id="zcontractstatus">
                                    <option>---សូមជ្រើសរើស----</option>
                                    <option>សំណុំរឿងរងចាំ</option>
                                    <option>សំណុំរឿងកំពុងចំណាត់ការ</option>
                                    <option>សំណុំរឿងបានចេញសាលក្រម</option>
                                    <option>សំណុំរឿងបិទបញ្ចប់</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="zpaidstatus">@sambocappweb.Resources.Language.PaidStatus</label>
                                <select class="form-control input-sm" id="zpaidstatus">
                                    <option>---សូមជ្រើសរើស----</option>
                                    <option>មិនទាន់បានបង់</option>
                                    <option>បានកក់ប្រាក់</option>
                                    <option>បានបង់រួចរាល់</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                    @*<hr />
                    <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.CaseProceeding</b>
                    <hr />*@
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="zcontractaddress">@sambocappweb.Resources.Language.ContractAddress</label>
                                <input id="zcontractaddress" name="zcontractaddress" placeholder="Enter Contract Address" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="zdatechankate">ខែចន្ទគតិ</label>
                                <select class="form-control input-sm" id="zdatechankate">
                                    <option>មិគសិរ </option>
                                    <option>បុស្ស </option>
                                    <option>មាឃ </option>
                                    <option>ផល្គុន</option>
                                    <option>ចេត្រ </option>
                                    <option>ពិសាខ </option>
                                    <option>ជេស្ឋ </option>
                                    <option>អាសាឍ</option>
                                    <option>ស្រាពណ៍ </option>
                                    <option>ភទ្របទ</option>
                                    <option>អស្សុជ </option>
                                    <option>កត្តិក</option>
                                </select>
                                @*<input id="zdatechankate" name="zdatechankate" placeholder="ខែចន្ទគតិ" type="text" value="" class="form-control input-sm" style="min-width: 100%" />*@
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="zdatesoriyakate">ខែសូរិយគតិ</label>
                                <select class="form-control input-sm" id="zdatesoriyakate">
                                    <option>មករា </option>
                                    <option>កុម្ភៈ </option>
                                    <option>មិនា  </option>
                                    <option>មេសា </option>
                                    <option>ឧសភា </option>
                                    <option>មិថុនា </option>
                                    <option>កក្កដា </option>
                                    <option>សីហា</option>
                                    <option>កញ្ញា </option>
                                    <option>តុលា</option>
                                    <option>វិច្ឆិកា </option>
                                    <option>ធ្នូ</option>
                                </select>
                                @*<input id="zdatesoriyakate" name="zdatesoriyakate" placeholder="ខែសូរិយគតិ" type="text" value="" class="form-control input-sm" style="min-width: 100%" />*@
                            </div>
                        </div>
                    </div>
                    <br />
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="button" id="btncontract" onclick="ContractAction();" class="btn btn-primary btn-block btn-sm">Add New</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="button" class="btn btn-danger btn-block btn-sm" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                                @*<button type="submit" class="btn btn-danger btn-block btn-sm" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>*@
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</form>


