﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="customerModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.OurCustomer</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <img class="center img-responsive img-thumbnail" id="CustomerPhoto" src="~/Images/no_image.png" />
                        </div>
                        <div class="form-group">
                            <label>Upload Photo</label>
                            <input onchange="readURLLCustomer(this);" type="file" id="customerfile" style="width:100%;" />
                            <input type="hidden" value="" id="customerfile_old" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input id="customerId" name="customerId" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="form-group">
                            <label for="customerName">@sambocappweb.Resources.Language.OurCustomer</label>
                            <input id="customerName" name="customerName" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>

                        <div class="form-group">
                            <label for="customerSex">@sambocappweb.Resources.Language.Gender</label>
                            <select class="form-control input-sm" id="customerSex">
                                <option>Male</option>
                                <option>Female</option>
                                <option>None</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="customerDob">@sambocappweb.Resources.Language.DateOfBirth</label>
                            <input id="customerDob" name="customerDob" placeholder="" type="date" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="customerAge">@sambocappweb.Resources.Language.Age</label>
                            <input id="customerAge" name="customerAge" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="customerAddress">@sambocappweb.Resources.Language.Address</label>
                            <input id="customerAddress" name="customerAddress" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="customerIdentityno">@sambocappweb.Resources.Language.Identity</label>
                            <input id="customerIdentityno" name="customerIdentityno" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="customerPhone">@sambocappweb.Resources.Language.ContactPhone</label>
                            <input id="customerPhone" name="customerPhone" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnSaveCustomer" onclick="CustomerAction();" class="btn btn-primary btn-block btn-sm">Add New</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table id="CustomerTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>@sambocappweb.Resources.Language.Id</th>
                                    <th>@sambocappweb.Resources.Language.OurCustomer</th>
                                    <th>@sambocappweb.Resources.Language.Gender</th>
                                    <th>@sambocappweb.Resources.Language.Address</th>
                                    <th>@sambocappweb.Resources.Language.Identity</th>
                                    <th>@sambocappweb.Resources.Language.ContactPhone</th>
                                    <th>@sambocappweb.Resources.Language.Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



