﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="SellerModal" tabindex="-1" role="dialog" aria-labelledby="SellerModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.Sellter</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <img class="center img-responsive img-thumbnail" id="SellerPhoto" src="~/Images/no_image.png" />
                        </div>
                        <div class="form-group">
                            <label>Upload Photo</label>
                            <input onchange="readURLLSeller(this);" type="file" id="Sellerfile" style="width:100%;" />
                            <input type="hidden" value="" id="Sellerfile_old" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input id="SellerId" name="SellerId" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="form-group">
                            <label for="SellerName">@sambocappweb.Resources.Language.Sellter</label>
                            <input id="SellerName" name="SellerName" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>

                        <div class="form-group">
                            <label for="SellerSex">@sambocappweb.Resources.Language.Gender</label>
                            <select class="form-control input-sm" id="SellerSex">
                                <option>Male</option>
                                <option>Female</option>
                                <option>None</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="SellerAge">@sambocappweb.Resources.Language.Age</label>
                            <input id="SellerAge" name="SellerAge" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="sdob">@sambocappweb.Resources.Language.DateOfBirth</label>
                            <input id="sdob" name="sdob" placeholder="" type="date" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="SellerAddress">@sambocappweb.Resources.Language.Address</label>
                            <input id="SellerAddress" name="SellerAddress" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="SellerIdentityno">@sambocappweb.Resources.Language.Identity</label>
                            <input id="SellerIdentityno" name="SellerIdentityno" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="SellerPhone">@sambocappweb.Resources.Language.ContactPhone</label>
                            <input id="SellerPhone" name="SellerPhone" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnSellerAction" onclick="SellerAction()" class="btn btn-primary btn-block btn-sm">បង្កើតថ្មី​ / Add New</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table id="SellerTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>@sambocappweb.Resources.Language.Id</th>
                                    <th>@sambocappweb.Resources.Language.Sellter</th>
                                    <th>@sambocappweb.Resources.Language.Gender</th>
                                    <th>@sambocappweb.Resources.Language.Address</th>
                                    <th>@sambocappweb.Resources.Language.Identity</th>
                                    <th>@sambocappweb.Resources.Language.ContactPhone</th>
                                    <th>@sambocappweb.Resources.Language.Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


