﻿@model IEnumerable<sambocappweb.Models.LoginHistory>

@{
    ViewBag.Title = "Logged in History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Logged In History</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Logged By</th>
                            <th>Logged Date</th>
                            <th>IP Address</th>
                            <th>Host Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.Id</td>
                                <td>@user.LoggedBy</td>
                                <td>@user.LoggedDate</td>
                                <td>@user.IPAddress</td>
                                <td>@user.HostName</td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>