﻿@using sambocappweb.Resources
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="ContractModal" aria-labelledby="ContractModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                @*<button type="button" class="btn btn-success btn-xs pull-left" onclick="" id="btgeneratpdf" data-toggle="modal" data-target="#ReportShopModel"><span class="glyphicon glyphicon-book"></span> Generat Report</button>*@

            </div>
            <div class="modal-body" style="background-color:lightcyan">
                <div class="row">
                    <div class="col-md-8">
                        <div class="">
                            <div class="row">
                                <input type="text" name="id" id="id" hidden value="" />
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="date">Date</label>
                                        <input type="date" name="date" id="date" class="form-control input-sm" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" placeholder="mm/dd/yyy" />
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="display:none">
                                <div class="col-md-12 ">
                                    <div class="form-group">
                                        <label for="tokenid">ShopId</label>
                                        <input type="text" name="shopid" id="shopid" class="form-control input-sm" value="" />

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="phone">Your Recommnetdation</label>
                                        <textarea class="form-control" rows="3" id="notetext" value="dd"></textarea>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group button-save">
                                        <button class="btn btn-xs btn-primary form-control" onclick="ContractAction();" id="btnSaveContract">Save</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <img class="center img-responsive img-thumbnail" id="AttPhoto" src="~/Images/Pdf.jpg" alt="Alternate Text" />
                        </div>
                        <div class="form-group">
                            <label>Upload PDF FLie</label>
                            <input onchange="readURLqrCodeImage(this);" type="file" id="attachment" name="file" style="width:100%;" value="" />
                            <input type="hidden" value="" id="file_old" />
                        </div>
                    </div>

                </div>
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p>@Language.SMG</p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="SelectModel" aria-labelledby="SelectModel" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="loadingGif"></div>
            <div class="modal-header" style="background-color:rgba(238, 238, 238, 0.17)">

            </div>
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" id="btncloses" onclick="closefunctin();" class="btn btn-danger btn-xs pull-left" >Close</button>*@
                    @*<input type="text" name="id" id="idPrivacy" value="" />
                        <input type="text" name="id" id="DescriptText" value="" />*@
                    <p id="DescriptText"></p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="privacyTable" class="" style="width:100%">
                                <thead>
                                    <tr width="100%">
                                        <th style="display:none">Id</th>
                                        <th width="100%">___________________________________________</th>
                                        <th class="pull-left">Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section scripts{

    @Scripts.Render("~/Scripts/Functions/contract.js")

}