﻿
@model sambocappweb.ViewModels.Manage_ShopViewModels
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="ReportShopModel" aria-labelledby="ReportShopModel" role="dialog" style="margin-bottom:25px">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-body" style="background-color: white ;border: 1px #D3D3D3 solid;">
            <hr />
            @*<button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>*@
            <button type="button" id="btncloses" onclick="closefunctin();" class="btn btn-danger btn-xs pull-right">Close</button>
            <div class="col-12 center">
                <button class="glyphicon glyphicon-book btn btn-info btn-sm " onclick="generatePDF()"> PDF File</button>
            </div>
            <hr />
            <div class="container_content" id="container_content" col-xs-12 col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">

                        <div class="date-top " style="text-align: center; font-family: Khmer OS Muol Light ">
                            <p>ព្រះរាជាណាចក្រកម្ពុជា<br /><br />ជាតិ សាសនា ព្រះមហាក្សត្រ</p>
                            <span style="font-family:'Tacteing A'">rYs</span><br /><br />
                            <p>កិច្ចព្រមព្រៀងស្តីពីការបង្កើត ហាងលក់ទំនិញ លើ Samboc App</p>

                        </div><br />
                        <div class="#"style="text-align: center">
                            
                            <p style="text-align: center;">
                                កិច្ចព្រមព្រៀងនេះធ្វើនៅភ្នំពេញ
                                <span id="dateformart"></span>
                            </p>
                        </div>
                    </div>
@*-------------------Owmer Shop Info----------------*@
                    
                    <h5 style="font-family: Khmer OS Muol Light; margin-left:15px"><br />ភាគី “ ក ”</h5>
                    <div class="col-md-2 " style="">
                        <div style="width:110px">
                            <p>ឈ្មោះ</p> <br />
                        </div>
                    </div>
                    <div class="col-sm-1 " style="width:1px">
                        <div style="margin-left:0px">
                            <p>:</p> <br />
                        </div>
                    </div>
                    <div class="col-md-9" style="">
                        <p id="Ownershopname">លោក  <span id="Ownershopname" style="font-family: Khmer OS Muol Light ">តឹក ប៊ុនធឿន</span></p>
                        <br />
                    </div>
                    <div class="col-md-2 " style="">
                        <div style="width:110px">
                            <p>អាសយដ្ឋាន</p> <br />
                        </div>
                    </div>
                    <div class="col-sm-1 " style="width:1px">
                        <div style="margin-left:0px">
                            <p>:</p> <br />
                        </div>
                    </div>
                    <div class="col-md-9" style="">
                        <b id="AwnerAddr">លេខ៥៤ ផ្លូវ៤៥៤ សង្កាត់ទួលទំពូងទី១ ខណ្ឌចំការមន រាជធានីភ្នំពេញ ព្រះរាជាណាចក្រកម្ពុជា </b><br /><br />
                    </div>
                    <div class="col-md-2 " style="">
                        <div style="width:110px">
                            <p>លេខចុះបញ្ជី</p> <br />
                            <p>តំណាងដោយ</p> <br />
                            <p>មុខងារ</p> <br />
                            <p>លេខទូរសព្ទ</p> <br />
                            <p>សារអេឡិចត្រូនិក</p> 
                        </div>
                    </div>
                    <div class="col-sm-1 " style="width:1px">
                        <div style="margin-left:0px">
                            <p>:</p> <br />
                            <p>:</p> <br />
                            <p>:</p> <br />
                            <p>:</p> <br />
                            <p>:</p> 
                        </div>
                    </div>
                    <div class="col-md-9" style="">
                        <b id="ShopCount"></b><br /><br />
                        <p>លោក  <span id="ShopRepretionBy" style="font-family: Khmer OS Muol Light "> តឹក ប៊ុនធឿន</span></p><br />
                        <p id="ShopFunction"><span style="font-family: Khmer OS Muol Light ">នាយកប្រតិបត្តិ</span></p><br />
                        <b id="ShopOwnerPhone">081 234 511 </b><br /><br />
                        <b id="ShopOwnerTecnologySMS">tek.bunthoeun168@gmail.com</b>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12" style="margin-left:-15px">

                        <div class="date-top " style="text-align: center; font-family: Khmer OS Muol Light ">
                            <p>និង</p>
                        </div>

                        @*-------------------Owmer Shop Info----------------*@

                        <h5 style="font-family: Khmer OS Muol Light; margin-left:15px">ភាគី “ ខ ”</h5>
                        <div class="col-md-2 " style="">
                            <div style="width:110px">
                                <p>ឈ្មោះ</p> <br />
                            </div>
                        </div>
                        <div class="col-sm-1 " style="width:1px">
                            <div style="margin-left:0px">
                                <p>:</p> <br />
                            </div>
                        </div>
                        <div class="col-md-9">
                            <p>លោក  <span id="ShopOwnername" style="font-family: Khmer OS Muol Light "></span></p><br />
                        </div>
                        <div class="col-md-2 " style="">
                            <div style="width:110px">
                                <p>អាសយដ្ឋាន</p> <br />
                            </div>
                        </div>
                        <div class="col-sm-1 " style="width:1px">
                            <div style="margin-left:0px">
                                <p>:</p> <br />
                            </div>
                        </div>
                        <div class="col-md-9" style="">
                            <b id="ownerlocation"> </b><br /><br />
                        </div>
                        <div class="col-md-2 " style="">
                            <div style="width:110px">
                                <p>លេខចុះបញ្ជី</p> <br />
                                <p>តំណាងដោយ</p> <br />
                                <p>មុខងារ</p> <br />
                                <p>លេខទូរសព្ទ</p> <br />
                                <p>សារអេឡិចត្រូនិក</p>
                            </div>
                        </div>
                        <div class="col-sm-1 " style="width:1px">
                            <div style="margin-left:0px">
                                <p>:</p> <br />
                                <p>:</p> <br />
                                <p>:</p> <br />
                                <p>:</p> <br />
                                <p>:</p><br />
                            </div>
                        </div>
                        <div class="col-md-9" style="">
                            <b id="Ownertokenid"></b><br /><br />
                            <p>លោក  <span id="OwnerRepretionBy" style="font-family: Khmer OS Muol Light "></span></p><br />
                            <p>ម្ចាស់ហាង  <span id="OwnerFunction" style="font-family: Khmer OS Muol Light "></span></p><br />
                            <b id="OwnerPhone"> </b><br /><br />
                            <b id="OwnerTecnologySMS"> </b><br />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="center_">
                                <b><br />ភាគីទាំងពីរបានព្រមព្រៀងគ្នាដូចខាងក្រោម៖</b>
                            </div>
                        </div>

                        @*Shop Action*@
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <br />
                            <b> ប្រការ១៖ កាតព្វកិច្ចម្ចាស់ហាង</b>
                            <br /><br />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12" style="line-height: 2.5; margin-left: 15px; text-align: justify">
                            <p>
                                ម្ចាស់ហាង <b id="functionownershop"></b> ឈ្មោះ <span id="Actionownershopname"></span> លេខទូរសព្ទ <span id="actionphonenumber"></span> Emai:<span id="actionemail"></span>
                                បានស្នើសុំបង្កើត ហាងលក់ទំនិញ ក្នុង  Samboc App ជោគជ័យ <span id="actiondate"></span><br />
                                ខ្ញុំ ឈ្មោះ<span id="Actionownershopname1"> </span>យល់ព្រម និង អនុវត្តយ៉ាងខ្ជាប់ខ្ជួន គ្រប់លក្ខខណ្ឌ របស់  Samoc App ដូចខាងក្រោម៖
                            </p>
                            <p></p>
                            <p id="privacyDes"></p>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <br /><br />
                            <b> ប្រការ២៖	 អវសាន្តបញ្ញត្តិ</b><br /><br />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12" style="line-height: 2.5; margin-left: 15px; text-align: justify">
                            <p>- ករណីម្ចាស់ហាងដែលបានចុះឈ្មោះរួចរាល់លើ Samboc App អនុវត្តផ្ទុយពីប្រការ ១ នោះម្ចាស់ App មានសិទ្ធិលុប ឬ ផ្អាកដំណើររបស់ហាង។</p>
                            <p>- ម្ចាស់ Samboc App រក្សាសិទ្ធិក្នុងការកែប្រែព័ត៌មានផ្សេងៗរបស់ Samboc App ដោយពុំបានជូនដំណឹងមុន។<span>កាតព្វ</span><span>កិច្ច</span> អោយបានខ្ជាប់ខ្លួន។</p>
                            <p>- ម្ចាស់ Samboc App មានសិទ្ធិ បដិសេធមិនអនុញ្ញាតិសំណើរសុំរបស់ម្ចាស់ហាងដែលមិនយល់ព្រមប្រការ ១ និងប្រការ ២ ។</p>

                        </div>
                    </div>
                    <div class="butotm row col-md-12" style="margin-top:25px">
                        <div class="col-md-6">
                            <p><span style="text-align: left;margin:0 0 0 70px" id="datecontruct"></span></p><br />
                            <span style="text-align: left; font-family: Khmer OS Muol Light;margin:15px 0 0 90px">ហត្ថលេខាភាគី (ខ)</span>
                        </div>
                        <div class="col-md-6 pull-right">
                            <p><span class="" style="text-align: left;margin:15px 0 0 90px" id="datecontruct1"></span></p><br />
                            <span class="" style="text-align: left; font-family: Khmer OS Muol Light;margin:15px 0 0 90px">ហត្ថលេខា/ត្រា ភាគី (ក)</span>
                        </div>
                    </div>
                    <div class="butotm row col-md-12" style="margin-top:25px">
                        <div class="col-md-6">
                            <span style="text-align: left; font-family: Khmer OS Muol Light;margin:15px 0 0 85px">..................................... </span>
                        </div>
                        <div class="col-md-6 pull-right">
                            <span class="" style="text-align: left; font-family: Khmer OS Muol Light;margin:15px 0 0 100px">.......................................</span>
                        </div>
                    </div>
                    <div class="butotm row col-md-12" style="margin-top:25px">
                        <div class="col-md-6">
                            <p id="Ownershopbuttom" style="text-align: left; font-family: Khmer OS Muol Light;margin:15px 0 0 100px"></p>
                        </div>
                        <div class="col-md-6 pull-right">
                            <p id="Ownershopname"><span id="Ownershopname" style="text-align: left; font-family: Khmer OS Muol Light;margin:15px 0 0 118px">តឹក ប៊ុនធឿន</span></p>
                        </div>
                    </div><br /><br /><br /><br />

                </div>

            </div>

        </div>
    </div>
</div>

