﻿
@*<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>*@
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="shopModal" aria-labelledby="shopModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" onclick="Clear();" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">Manage Shop</b>
            </div>
            <div class="modal-body" style="background-color:rgb(107 255 177 / 0.32)">
                <div class="">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12" style="padding: 5px; border: 1px solid rgb(255 255 255 / 0.85);border-radius:10px; background-color:rgb(0 0 116 / 0.85);color:white;text-align:center">
                                        <h5>Shop Information</h5>
                                    </div>
                                    <input type="text" id="shopID" hidden name="shopID" value="" />
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="shopidm">Shop ID</label>
                                            <input type="text" name="shopidm" id="shopidm" class="form-control input-sm" value="" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="shopname">Shop Name</label>
                                            <input type="text" name="shopname" id="shopname" class="form-control input-sm" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="ownername">Owner Name</label>
                                            <input type="text" name="ownername" id="ownername" class="form-control input-sm" value="" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Gender">Gender</label>
                                            @*<input type="text" name="gender" id="gender" class="form-control input-sm" value="" />*@
                                            <select name="gender" class="form-control input-sm" id="gender">
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="DOB">Date Of Birth</label>
                                            <input type="date" name="dob" id="dob" class="form-control input-sm" value="" />
                                        </div>
                                        <div class="form-group">
                                            <label for="nationality">Nationality</label>
                                            <input type="text" name="nationality" id="nationality" class="form-control input-sm" value="" />
                                        </div>
                                        <div class="form-group">
                                            <label for="location">Current Location</label>
                                            <textarea class="form-control has-fixed-size" rows="2" placeholder="Current Location" id="location"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="phone">Phone</label>
                                            @*<input type="text" name="phone" id="phone" class="form-control input-sm" value="" />*@
                                            <input type="text" name="phone" id="phone" class="form-control input-sm" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="facebookpage">Email</label>
                                            <input type="text" name="facebookpage" id="facebookpage" class="form-control input-sm" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="text" name="password" id="password" class="form-control input-sm" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row"​ style="display:none">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="tokenid">Token ID</label>
                                            <input type="text" name="tokenid" id="tokenid" class="form-control input-sm" value="@ViewBag.Count" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" disabled=""/>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-4">
                                <div class="col-md-12" style="padding: 5px; border: 1px solid rgb(255 255 255 / 0.85);border-radius:10px; background-color:rgb(0 0 116 / 0.85);color:white;text-align:center">
                                    <h5>About Payment</h5>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="paymenttype">Payment Type</label>
                                            <select name="paymenttype" class="form-control input-sm" id="paymenttype">
                                                <option value="Bank">Bank</option>
                                                <option value="Cash in Dollar">Cash in Dollar</option>
                                                <option value="Cash in Riels">Cash in Riels</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>




                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="bankname">Bank Name</label>

                                            @Html.DropDownList("bankname", ViewBag.PaymenttypeList as SelectList, new { @class = "form-control input-sm" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="accountnumber">Account Number</label>
                                            <input type="text" name="accountnumber" id="accountnumber" class="form-control input-sm" value="" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="accountnumber">Account Name</label>
                                            <input type="text" name="accountname" id="accountname" class="form-control input-sm" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="feetype">Fee Type</label>
                                            <select name="feetype" class="form-control input-sm" id="feetype">
                                                <option value="free">Free</option>
                                                <option value="prepaid">Prepaid</option>
                                                <option value="transaction">% Per transaction</option>
                                                <option value="fix">Fix Amount</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="feecharge">FeeChage</label>
                                            <input type="number" name="feecharge" id="feecharge" class="form-control input-sm" value="0" />
                                        </div>
                                    </div>
                                </div>


                            </div>


                            <div class="col-md-4" >
                                <div class="col-md-12" style="padding: 5px; border: 1px solid rgb(255 255 255 / 0.85);border-radius:10px; background-color:rgb(0 0 116 / 0.85);color:white;text-align:center">
                                    <h5>Other</h5>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="shophistorydate">Shop History Date</label>
                                            <input type="date" name="shophistorydate" id="shophistorydate" class="form-control input-sm" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="note">Note</label>
                                            <textarea type="text" row="3" name="note" id="note" class="form-control input-sm has-fixed-size" value=""></textarea>

                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="status">Status</label>
                                            <select name="status" class="form-control input-sm" id="status">
                                                <option value="Active">Active</option>
                                                <option value="Inactive">Inactive</option>
                                                <option value="New">Reques</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <hr />



                            </div>
                            
                            
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <img class="center img-responsive img-thumbnail" id="QrlogoShop" src="~/Images/company.png" />

                                </div>
                                <div class="form-group">
                                    <label> Upload Logo Shop</label>
                                    <input onchange="readURlogoShop(this);" type="file" id="logoShop" style="width:100%;" />
                                    <input type="hidden" value="" id="logoShop_old" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <img class="center img-responsive img-thumbnail" id="QrPhoto" src="~/Images/company.png" />
                                </div>
                                <div class="form-group">
                                    <label> Upload QRCode</label>
                                    <input onchange="readURLqrCodeImage(this);" type="file" id="qrCodeImage" style="width:100%;" />
                                    <input type="hidden" value="" id="qrcode_old" />
                                </div>
                            </div>

                        </div>
                            <hr />
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button class="btn btn-xs btn-primary btn-xs form-control" onclick="ShopAction();" id="btnSaveShop">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
