﻿@using sambocappweb.Resources
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Layout/css/Hover.css" rel="stylesheet" />
<link href="~/Content/Layout/css/ReportShop.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<script src="~/Content/Layout/css/js/cleave.js"></script>
<script src="~/Content/Layout/css/js/cleave-phone.i18n.js"></script>
<link href="~/Content/Layout/css/table.css" rel="stylesheet" />
<div class="container-fluid jsPDFDocObject" id="jsPDFDocObject" style="margin-top:50px">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            @*<button type="button" style="margin:5px" class="btn btn-info btn-xs pull-right" id="btCreateTeacher" data-toggle="modal" data-target="#companyTypeModal"> Add New Customer</button>*@
            <button type="button" onclick="AddnewAction();" class="btn btn-warning btn-xs pull-right" id="btCreateShop" data-toggle="modal" data-target="#shopModal"><span class="glyphicon glyphicon-plus-sign"></span> Add New Shop</button>

            <h5 class="modal-title">Manage Shop</h5>


        </div>
        <div class="panel-body " id="jsPDFInvoiceTemplate" style="overflow-x:auto;">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline pull-right">

                        @*//data-toggle="modal" data-target="#filterModal"*@

                        <button type="button" class="btn btn-info btn-xs pull-right" id="btnfilter_Register" onclick="FilterClickRigister();"><span class="glyphicon glyphicon-filter"></span>Active</button>

                        <button type="button" class="btn btn-success btn-xs pull-right" id="btn_filter" onclick="FilterClick();" style="display:none"><span class="glyphicon glyphicon-question-sign  "></span>Show ALL Data</button>&nbsp;&nbsp;

                    </div>
                    <div class="form-inline pull-right">

                        <button type="button" class="btn btn-primary btn-xs pull-right" id="btn_None" onclick="FilterNone();"><span class="glyphicon glyphicon-filter "></span>Inactive</button>

                        <button type="button" class="btn btn-warning btn-xs pull-right" id="btn_NoneAll" onclick="FilterNoneAll();" style="display:none"><span class="glyphicon glyphicon-question-sign  "></span>Show ALL Data</button>

                    </div>
                    <div class="form-inline pull-right">
                        &nbsp;

                        <span class="hovertext" data-hover="All data (Aproved) after you click &#128523;">
                            <label class="checkbox-inline"><input type="checkbox" class="checkbox-inline form-control input-sm" value="" style="width: 170px; margin: -6px -70px;">Aprove All &nbsp; </label>
                        </span>
                    </div>

                </div>

            </div><hr />
            <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tblShop">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Shop ID</th>
                        <th>Shop Name</th>
                        @*<th>Owner__Name</th>*@
                        @*<th>Phone</th>*@
                        <th>Location</th>
                        @*<th>Payment_Type</th>*@
                        <th>BankName</th>
                        <th>AccountNumber</th>
                        <th>AccountName</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>


        </div>
    </div>
</div>
@*Swich*@
<script>

    function Contract(id) {

        $.ajax({
            url: "/api/Shops/" + id,
            //url: "/api/ Privacys /" + id,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            datatype: "json",
            success: function (result) {
                var date = new Date();
                date = "ថ្ងៃទី " + getNumKh(date.getDate() < 9 ? "០" + date.getDate() : date.getDate()) + " ខែ " + getMonthKh(date.getMonth()) + " ឆ្នាំ " + getNumKh(date.getFullYear());
                document.getElementById("dateformart").innerHTML = date;
                $("#shopid").val(result.id);
                $("#shopID").val(result.id);
                $("#shopNameCon").val(result.shopName);
                $("#ShopOwnername").text(result.ownerName);
                @*document.getElementById("Sex").textContent = result.gender === "Male" ? '@sambocappweb.Resources.Language.Male' : '@sambocappweb.Resources.Language.Female';*@

                $("#national").text(result.nationality);
                var date = new Date(result.dob);
                var datetime = moment(date).format('MM-DD-YYYY');
                $("#dateNow").text(datetime);
                $("#Ownertokenid").text(result.tokenid);
                $("#ownerlocation").text(result.location);
                $("#OwnerRepretionBy").text(result.ownerName);
                $("#OwnerFunction").text(result.shopName);
                $("#OwnerPhone").text(result.phone);
                $("#OwnerTecnologySMS").text(result.facebookPage);
                $("#ModelPrivacy").text(result.description);
                $("#idPrivacy").val(result.id);
                //Owner Shop Function
                $("#functionownershop").text(result.shopName);
                $("#Actionownershopname").text(result.ownerName);
                $("#Actionownershopname1").text(result.ownerName);
                $("#actionphonenumber").text(result.phone);
                $("#actionemail").text(result.facebookPage);
                $("#Ownershopbuttom").text(result.shopName);
                var actiondate = new Date();
                actiondate = "ថ្ងៃទី " + getNumKh(actiondate.getDate() < 9 ? "០" + actiondate.getDate() : actiondate.getDate()) + " ខែ " + getMonthKh(actiondate.getMonth()) + " ឆ្នាំ " + getNumKh(actiondate.getFullYear());
                document.getElementById("actiondate").innerHTML = actiondate;
                //Date Contract
                var datecontruct = new Date();
                var datecontruct1 = new Date();
                datecontruct = "ថ្ងៃទី " + getNumKh(datecontruct.getDate() < 9 ? "០" + datecontruct.getDate() : datecontruct.getDate()) + " ខែ " + getMonthKh(datecontruct.getMonth()) + " ឆ្នាំ " + getNumKh(datecontruct.getFullYear());
                datecontruct1 = "ថ្ងៃទី " + getNumKh(datecontruct1.getDate() < 9 ? "០" + datecontruct1.getDate() : datecontruct1.getDate()) + " ខែ " + getMonthKh(datecontruct1.getMonth()) + " ឆ្នាំ " + getNumKh(datecontruct1.getFullYear());
                document.getElementById("datecontruct").innerText = datecontruct;
                document.getElementById("datecontruct1").innerText = datecontruct1;

                $("#contractshopModel").modal('show');
            },
            error: function (errormessage) {
                toastr.error("Something unexpected happenn.", "Server Response");
            }
        });
    }

    function getMonthKh(month) {
        var monthKh = ['មករា', 'កុម្ភៈ', 'មីនា', 'មេសា', 'ឧសភា', 'មិថុនា', 'កក្កដា', 'សីហា', 'កញ្ញា', 'តុលា', 'វិច្ឆិកា', 'ធ្នូ'];
        return monthKh[month];
    }

    function getNumKh(num) {
        var arr = Array.from(String(num), Number);
        var khmerNum = "";
        $.each(arr, function (index, value) {
            switch (value) {
                case 0:
                    khmerNum += "០";
                    break;
                case 1:
                    khmerNum += "១";
                    break;
                case 2:
                    khmerNum += "២";
                    break;
                case 3:
                    khmerNum += "៣";
                    break;
                case 4:
                    khmerNum += "៤";
                    break;
                case 5:
                    khmerNum += "៥";
                    break;
                case 6:
                    khmerNum += "៦";
                    break;
                case 7:
                    khmerNum += "៧";
                    break;
                case 8:
                    khmerNum += "៨";
                    break;
                case 9:
                    khmerNum += "៩";
                    break;
            }
        })
        return khmerNum;
    }
</script>

<script>
    function Clear() {
        $('#shopname').val('');
        $('#gender').val('');
        $('#dob').val('');
        $('#nationality').val('');
        $('#ownername').val('');
        $('#phone').val('');
        $('#password').val('');
        $('#tokenid').val('');
        $('#facebookpage').val('');
        $('#location').val('');
        $('#paymenttype').val('');
        $('#QrPhoto').val('');
        $('#bankname').val('');
        $('#accountnumber').val('');
        $('#accountname').val('');
        $('#QrlogoShop').val('');
        $('#feecharge').val('');
        $('#shophistorydate').val('');
        $('#note').val('');
        $('#status').val('');
        //window.location.reload();
    }
</script>


@Html.Partial("_Shop")
@Html.Partial("_ContractShop")
@Html.Partial("_ContractShops")
@Html.Partial("_ReportShop")
@Html.Partial("_View")

@{
    //Html.RenderAction("");
}

@section scripts{
    @Scripts.Render("~/Scripts/Functions/shop.js")
    @Scripts.Render("~/Scripts/Functions/Filter.js")
    @Scripts.Render("~/Scripts/Functions/contract.js")
    @Scripts.Render("~/Scripts/Functions/ReportShop.js")
    @*@Scripts.Render("~/Scripts/Functions/Privacy.js")*@
}
