﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="PaymentMethodModal" tabindex="-1" role="dialog" aria-labelledby="PaymentMethodModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; Close</button>
                <b class="modal-title" style="color: darkblue;">PaymentMethod</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input id="methodid" name="methodid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="methodname">Name</label>
                                <input id="methodname" name="methodname" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                        @*<div class="col-md-6">
                                <div class="form-group">
                                    <label for="note">Note</label>
                                    <input id="note" name="note" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>*@
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <button type="button" id="btnMethod" onclick="MethodAction()" class="btn btn-primary btn-block btn-sm">Add New</button>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table id="PaymentMethodTable" class="table-hover table-bordered table-condensed table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>









@*<div class="modal fade" data-backdrop="static" data-keyboard="fale" id="paymentmethodModel" tabindex="-1" role="dialog" aria-labelledby="paymentmethodModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="loadingGif"></div>
            <div class="modal-header">
                <button type="button" class="btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">@sambocappweb.Resources.Language.ManagePaymentMethod</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" hidden value="" />
                            <input id="methodid" name="methodid" type="text" value="" class="form-control input-sm hidden" placeholder="Enter ID" />
                            <label for="methodname">@sambocappweb.Resources.Language.PaymentMethod</label>
                            <input id="methodname" name="methodname" type="text" value="" class="form-control input-sm" placeholder="Enter Payment Method Name" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnMethod" onclick="MethodAction();" class="btn btn-primary btn-block btn-sm">Add New</button>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <table id="PaymentmethodTable" class="table-hover table-bordered table-condensed table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <td>@sambocappweb.Resources.Language.PaymentMethod</td>
                                    <td>@sambocappweb.Resources.Language.Action</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>*@



