﻿
@{
    ViewBag.Title = "Manage Account Balance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="loadingGif"></div>

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h5 class="modal-title pull-left">@sambocappweb.Resources.Language.Cashflow</h5>
            <button class="btn-success btn-xs pull-right" type="button" data-toggle="modal" data-target="#PaymentMethodModal" style="margin-right:5px;"><span class="glyphicon glyphicon-cog"></span>@sambocappweb.Resources.Language.PaymentMethod</button>
            @*<button class="btn-success btn-xs pull-right" type="button" data-toggle="modal" data-target="#transferModel" style="margin-right:5px;"><span class="glyphicon glyphicon-cog"></span>@sambocappweb.Resources.Language.TransferInfo</button>*@
            <button class="btn-success btn-xs pull-right" type="button" data-toggle="modal" data-target="#beginingModel" style="margin-right:5px;"><span class="glyphicon glyphicon-cog"></span>@sambocappweb.Resources.Language.BeginingBalace</button>
            
        </div>
        <div class="row">
            <div class="col-md-2 col-12 form-group">
                <label for="">@sambocappweb.Resources.Language.StartDate</label>
                <input type="date" class="form-control" placeholder="Select Start Date" id="fromdate">
            </div>
            <div class="col-md-2 col-12 form-group">
                <label for="">@sambocappweb.Resources.Language.EndDate</label>
                <input type="date" class="form-control" placeholder="Select End Date" id="todate">
            </div>
            <div class="col-md-1 col-12 form-group">
                <label for="">@sambocappweb.Resources.Language.Preview</label>
                <button type="button" class="form-control btn btn-primary" id="btnPrint" onclick="GetCashflow();">@sambocappweb.Resources.Language.Preview</button>
            </div>
            <div class="col-md-2 col-12 form-group">
                <label for="paymentmethodids">@sambocappweb.Resources.Language.PaymentMethod</label>
                <select class="form-control input-sm" id="paymentmethodids">
                    @foreach (var pos in Model.PaymentMethods)
                    {
                        <option value=@pos.id>@pos.paymentmethodname</option>
                    }
                </select>
            </div>
            <div class="col-md-1 col-12 form-group">
                <label for="">@sambocappweb.Resources.Language.Preview</label>
                <button type="button" class="form-control btn btn-primary" id="btnPrintbalance" onclick="GetCashflowByPaymentMethod();">@sambocappweb.Resources.Language.Preview</button>
            </div>
            <div class="col-md-2 col-12 form-group">
                <label for="">@sambocappweb.Resources.Language.BeginingBalace</label>
                <input type="text" class="form-control" placeholder="Begining Balance" id="beginingbalances">
            </div>
            <div class="col-md-2 col-12 form-group">
                <label for="">@sambocappweb.Resources.Language.EndBalance</label>
                <input type="text" class="form-control" placeholder="End Balance" id="endbalances">
            </div>

        </div>
        <div class="panel-body">
            <hr />
            <div class="row" style="overflow:auto">
                <div class="col-md-12">
                    <table id="cashflowTable" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>@sambocappweb.Resources.Language.Date</th>
                                <th>@sambocappweb.Resources.Language.Description</th>
                                <td>@sambocappweb.Resources.Language.PaymentMethod</td>
                                <th>@sambocappweb.Resources.Language.CaseAmount</th>
                                <th>@sambocappweb.Resources.Language.OtherExpense</th>
                                <th>@sambocappweb.Resources.Language.Income</th>
                                <th>@sambocappweb.Resources.Language.Transferfrom</th>
                                <th>@sambocappweb.Resources.Language.Transferto</th>
                                <th>@sambocappweb.Resources.Language.Transfernote</th>


                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        

    </div>
</div>



@*@Html.Partial("_Paymentmethod")*@
@Html.Partial("_BeginingBalance")
@Html.Partial("_PaymentMethod")
@Html.Partial("_Transfer")

@section scripts
{
    @Scripts.Render("~/Scripts/Functions/transfer.js")
    @*@Scripts.Render("~/Scripts/Functions/paymentmethod.js")*@
    @Scripts.Render("~/Scripts/Functions/paymentmethod.js")
    @Scripts.Render("~/Scripts/Functions/beginingbalance.js")
    @Scripts.Render("~/Scripts/moment.min.js")
}
